;-------------------------------------------------
;顔を描画する関数群。製作者　ギンギー料理
;-------------------------------------------------
;MAIDFACE{X}はARG:0～ARG:{X-1}のX人の顔を横に並べて出力する関数。
;画像のピクセル数はとりあえず自動的に150*150に近い物が選択される。
;-------------------------------------------------
@PRINT_MAIDFACE, ARG:0, ARG:1, ARG:2, ARG:3, ARG:4
#DIM LCOUNT
#DIM MEMO_REDRAW
#DIM ACTOR, 5
#DIM NUM_ACTOR

SIF CONFIG("颜绘ＯＦＦ") || TFLAG:颜绘スキップ
	RETURN 0

MEMO_REDRAW = CURRENTREDRAW()
REDRAW 0

NUM_ACTOR = 0
VARSET ACTOR
FOR LCOUNT, 0, 5
	SIF LCOUNT >= 1 && ARG:LCOUNT <= 0
		BREAK
	SIF CFLAG:(ARG:LCOUNT):颜绘 == 0
		CONTINUE

	ACTOR:NUM_ACTOR = ARG:LCOUNT
	NUM_ACTOR += 1
NEXT

LOCALS = <nobr>
FOR LCOUNT, 0, 5
	SIF ACTOR:LCOUNT <= 0
		BREAK
	IF TFLAG:颜绘动画中
		LOCALS += @"%MAIDFACE_ANIME(ACTOR:LCOUNT, LCOUNT + 1)%"
	ELSE
		LOCALS += @"%MAIDFACE(ACTOR:LCOUNT, LCOUNT + 1)%"
	ENDIF
NEXT

IF LOCALS != "<nobr>"
	IF COND("角色介绍中")
		SIF MARK:ARG:淫紋
			LOCALS += @"%CUTIN("淫紋", ARG, 2)%"
		;LOCALS += @"%CUTIN("パンツ", ARG, 2)%"
	ENDIF

	HTML_PRINT LOCALS

	FOR LCOUNT, 1, 100*MAIDFACESIZE()/GETCONFIG("フォントサイズ")/100
		PRINTL 
	NEXT
	TFLAG:颜绘表示中 = LINECOUNT
ENDIF
REDRAW MEMO_REDRAW

;ARG付近でGETCONFIG("一行の高さ")の整数倍な最小の値を返す
@PICSIZE(ARG)
#FUNCTION
#DIM LCOUNT

;ほんの少しだけ小さい値も許容する
ARG -= GETCONFIG("一行の高さ")*3/10

FOR LCOUNT, 0, GETCONFIG("一行の高さ")
	LOCAL = ARG + LCOUNT
	SIF (100*(ARG + LCOUNT)/GETCONFIG("一行の高さ") )%100 == 0
		BREAK
NEXT
RETURNF LOCAL

;CONFIG("顔グラサイズ")に応じたPICSIZEを返す。だが今は175固定。
@MAIDFACESIZE()
#FUNCTION
RETURNF PICSIZE(175)

SELECTCASE CONFIG("颜绘サイズ")
CASE 0
	RETURNF PICSIZE(150)
CASEELSE
	RETURNF PICSIZE(175)
ENDSELECT


;-------------------------------------------------
;出してしまった顔グラを消す関数
;もしも前提が異なる場合は数字を変える事
;-------------------------------------------------
@CLEAR_MAIDFACE
CLEARLINE 100*MAIDFACESIZE()/GETCONFIG("フォントサイズ")/100


;-------------------------------------------------
;キャラARGの顔を描画する関数。ARG:1には何人目の位置かが入っている
;ピクセル数は選べるようにしようと思ったが150*150固定
;-------------------------------------------------
@MAIDFACE(ARG, ARG:1)
#FUNCTIONS
#DIM LCOUNT
#DIM FSIZE
#DIM FPOS
#DIMS TEXT_TITLE
#DIMS TEXT_PLACE
#DIMS BG
#DIMS RIBBON
#DIMS RIBBON_MIDDLE
#DIMS RIBBON_FRONT
#DIMS HEAD_BACK
#DIMS HAIR_BACK
#DIMS HAIR_LENGTH
#DIMS HAIR_MIDDLE
#DIMS HAIR_FRONT
#DIMS HAIR_ACCE
#DIMS HAIR_AHOGE
#DIMS FACE
#DIMS MAKEUP
#DIMS CHEEK
#DIMS HOHO
#DIMS ANIMAL_EARS
#DIMS MOUTH
#DIMS NUM_FANG
#DIMS LEYE
#DIMS REYE
#DIMS LEYE_OVER
#DIMS REYE_OVER
#DIMS MAYU
#DIMS TUNO_SIDE
#DIMS TUNO
#DIMS HANE
#DIMS MEGANE
#DIMS CLOTHES_FACE
#DIMS EMOTE
#DIMS OTHER
#DIMS BUKKAKE
#DIMS OVER
#DIMS BAG
#DIM IS_MOESODE

BG = 
RIBBON = 
RIBBON_MIDDLE = 
RIBBON_FRONT = 
HEAD_BACK = 
HAIR_BACK = 
HAIR_LENGTH = 
HAIR_MIDDLE = 
HAIR_FRONT = 
HAIR_AHOGE = 
HAIR_ACCE = 
FACE = 
MAKEUP = 
CHEEK = 
HOHO = 
ANIMAL_EARS = 
MOUTH = 
NUM_FANG = 
LEYE = 
REYE = 
LEYE_OVER = 
REYE_OVER = 
MAYU = 
TUNO_SIDE = 
TUNO = 
MEGANE = 
CLOTHES_FACE = 
EMOTE = 
OTHER = 
BUKKAKE = 
OVER = 
BAG = 
IS_MOESODE = 0

SIF CFLAG:ARG:颜绘 == 0
	RETURNF ""

FSIZE = 100*MAIDFACESIZE()/GETCONFIG("フォントサイズ")
FPOS = (ARG:1 - 1) * (FSIZE + 30)


;背景
IF NO:ARG == 99
	BG = <button value='{CFLAG:ARG:優先順位 + 10}' pos='{FPOS}'><img src='0e' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></button>
ELSEIF COND("角色メイク中")
	BG = <button value='{CFLAG:ARG:優先順位 + 10}' pos='{FPOS}' title='[%CSTR:ARG:称号%]%NAME:ARG% (%CSTR:ARG:学年%)'><img src='0e' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></button>
ELSE
	TEXT_TITLE = [%CSTR:ARG:称号%]%NAME:ARG% (%CSTR:ARG:学年%)
	SIF CFLAG:ARG:躁动难忍
		TEXT_TITLE += "躁动难忍している"

	IF PLACE("部室")
		SELECTCASE ARG:1
		CASE 1
			SELECTCASE TEXTS("季節")
			CASE "春"
				TEXT_PLACE = 0部室1
			CASE "夏"
				TEXT_PLACE = 0部室3
			CASE "秋"
				TEXT_PLACE = 0部室1
			CASE "冬"
				TEXT_PLACE = 0部室2
			ENDSELECT
		CASEELSE
			TEXT_PLACE = 0部室
		ENDSELECT
	ELSEIF PLACE("情人旅館")
		TEXT_PLACE = 0e
	ELSEIF PLACE("Ｈ目的")
		TEXT_PLACE = 0部室
	ELSEIF COND("夜")
		SELECTCASE ARG:1
		CASE 1
			TEXT_PLACE = 0b
		CASEELSE
			TEXT_PLACE = 0b1
		ENDSELECT
	ELSEIF COND("归途")
		;雨に降られた
		IF STRCOUNT(SAVESTR:現在位置, "阵雨")
			TEXT_PLACE = 0f2
		ELSE
			TEXT_PLACE = 0f1
		ENDIF
	ELSE
		SELECTCASE ARG:1
		CASE 1
			IF DAYEV("夏服期間")
				TEXT_PLACE = 0c1
			ELSE
				TEXT_PLACE = 0c0
			ENDIF
		CASEELSE
			IF DAYEV("夏服期間")
				TEXT_PLACE = 0c3
			ELSE
				TEXT_PLACE = 0c2
			ENDIF
		ENDSELECT
	ENDIF
	IF CFLAG:ARG:Cosplay中
		IF CHECK_BODYS("兔", ARG)
			TEXT_PLACE = 0h%TOSTR(RAND:4)%
		ELSEIF CHECK_SHIRT("旗袍", ARG)
			TEXT_PLACE = 0g
		ENDIF
	ENDIF

	BG = <button value='{CFLAG:ARG:優先順位 + 10}' pos='{FPOS}' title='%TEXT_TITLE%'><img src='%TEXT_PLACE%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></button>
ENDIF

IF COND("種族：死神", ARG)
	HEAD_BACK = <nonbutton pos='{FPOS}'><img src='2c' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ELSEIF COND("種族：堕天使", ARG)
	HEAD_BACK = <nonbutton pos='{FPOS}'><img src='2b' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ELSEIF COND("種族：天使", ARG)
	HEAD_BACK = <nonbutton pos='{FPOS}'><img src='2a' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDIF

SELECTCASE CONDS("髪長", ARG)
CASE "短"
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "巻髪"
	SELECTCASE CONDS("後髪", ARG)
	CASE "自然"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Se%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "直髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "外八"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "卷髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sd%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "中等長度"
	SELECTCASE CONDS("後髪", ARG)
	CASE "自然"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Ma%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "直髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "外八"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "卷髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mg%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "披肩"
	SELECTCASE CONDS("後髪", ARG)
	CASE "自然"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4SLb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "直髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "外八"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "卷髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4SLd%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "長", "超長"
	SELECTCASE CONDS("後髪", ARG)
	CASE "自然"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4La%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "直髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Lb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "外八"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Lc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "卷髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Ld%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
ENDSELECT

SELECTCASE CONDS("改髪", ARG)
CASE "長双马尾"
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Tb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Tb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "双马尾"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Td%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Td%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "短双马尾"
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Ta%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Ta%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "卷双马尾"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Tf%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Tf%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "钻头双马尾"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Te%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Te%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "团子头双马尾"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Tg2%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Tg2%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

CASE "侧马尾"
	SELECTCASE CONDS("髪長", ARG)
	CASE "短", "巻髪"
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Ta%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "中等長度", "披肩"
		SELECTCASE CONDS("後髪", ARG)
		CASE "编起来"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='3Sb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			HAIR_LENGTH = %HAIR_LENGTH%<nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "自然"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Se%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "直髪"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "外八"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "卷髪"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sd%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Td%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Tb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "马尾辫"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Sd%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "麻花辫"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Lh%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4SLh%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "单辫"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Se%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Sf%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "双辫"
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Le%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "三股辫"
	HAIR_LENGTH = %HAIR_LENGTH%<nonbutton pos='{FPOS}'><img src='6Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "大三股辫"
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Lg%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "団子頭"
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Tc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_MIDDLE = <nonbutton pos='{FPOS}'><img src='6Tc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "编起来"
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Sb%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "盘头"
	HAIR_BACK = <nonbutton pos='{FPOS}'><img src='3Sc%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sa%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "侧盘头"
	SELECTCASE CONDS("髪長", ARG)
	CASE "短", "巻髪"
		HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Sf%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "中等長度", "披肩"
		SELECTCASE CONDS("後髪", ARG)
		CASE "卷髪"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mf1%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASEELSE
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Mf%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	CASEELSE
		SELECTCASE CONDS("後髪", ARG)
		CASE "卷髪"
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Lf1%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASEELSE
			HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Lf%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ENDSELECT
CASE "简易扎发"
	HAIR_LENGTH = <nonbutton pos='{FPOS}'><img src='4Li%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT

HAIR_FRONT = <nonbutton pos='{FPOS}'><img src='16%CONDS("前髪", ARG)%%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
SELECTCASE CONDS("前髪", ARG)
CASE "撩刘海", "編髪", "外八刘海", "露额头"
	SIF TALENT:ARG:動物耳
		HAIR_FRONT = <nonbutton pos='{FPOS}'><img src='16%CONDS("前髪", ARG)%1%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "乱髪２"
	SELECTCASE CONDS("髪長", ARG)
	CASE "長", "超長"
		HAIR_FRONT = <nonbutton pos='{FPOS}'><img src='16%CONDS("前髪", ARG)%長%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
ENDSELECT

SELECTCASE CONDS("呆毛", ARG)
CASE "呆毛", "呆毛２", "呆毛３", "触角"
	HAIR_AHOGE = <nonbutton pos='{FPOS}'><img src='19%CONDS("呆毛", ARG)%%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT

SELECTCASE CONDS("蝴蝶結", ARG)
CASE "无蝴蝶結"
CASE "頭上蝴蝶結"
	SELECTCASE CONDS("髪色の種類", ARG)
	CASE "青"
		HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15頭上蝴蝶結黄' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "黒", "銀", "緑"
		HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15頭上蝴蝶結赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "赤", "茶", "桃"
		HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15頭上蝴蝶結白' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "金"
		HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15頭上蝴蝶結青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15頭上蝴蝶結黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "頭後蝴蝶結"
	SELECTCASE CONDS("髪色の種類", ARG)
	CASE "赤", "桃", "紫"
		RIBBON = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%白' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "青", "緑"
		RIBBON = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%黄' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		RIBBON = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
CASE "单側蝴蝶結２"
	RIBBON_FRONT = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%%CLOCOLOR_MAIDFACE(CONDS("蝴蝶結", ARG), "", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASEELSE
	SELECTCASE CONDS("改髪", ARG)
	CASE "団子頭", "团子头双马尾"
		RIBBON_MIDDLE = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%団子頭%CLOCOLOR_MAIDFACE(@"%CONDS("蝴蝶結", ARG)%団子頭", "", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "侧马尾"
		IF CONDS("蝴蝶結", ARG) == "单側蝴蝶結" && CONDS("髪長", ARG) == "長" && CONDS("後髪", ARG) == "自然"
			RIBBON_MIDDLE = <nonbutton pos='{FPOS}'><img src='1单側蝴蝶結侧马尾' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ELSE
			RIBBON = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%%CLOCOLOR_MAIDFACE(CONDS("蝴蝶結", ARG), "", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDIF
	CASEELSE
		RIBBON = <nonbutton pos='{FPOS}'><img src='1%CONDS("蝴蝶結", ARG)%%CLOCOLOR_MAIDFACE(CONDS("蝴蝶結", ARG), "", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
ENDSELECT
SIF CHECK_OTHER("簪子", ARG) || STRCOUNT(STR:颜绘衣装, "振袖")
	RIBBON = <nonbutton pos='{FPOS}'><img src='1簪子' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

;顔
FACE = <nonbutton pos='{FPOS}'><img src='7a%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
;頬化粧
SELECTCASE CONDS("頬化粧", ARG)
CASE "脸谱赤", "脸谱青", "战妆"
	MAKEUP = <nonbutton pos='{FPOS}'><img src='8%CONDS("頬化粧", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT
;頬傷や頬絆創膏
SIF STRCOUNT(CSTR:ARG:頬, "頬傷左")
	HOHO += @"<nonbutton pos='{FPOS}'><img src='8頬傷左%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
SIF STRCOUNT(CSTR:ARG:頬, "頬傷右")
	HOHO += @"<nonbutton pos='{FPOS}'><img src='8頬傷右%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
SIF STRCOUNT(CSTR:ARG:頬, "頬傷鼻")
	HOHO += @"<nonbutton pos='{FPOS}'><img src='8頬傷鼻%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
SIF STRCOUNT(CSTR:ARG:頬, "頬創口貼左")
	HOHO += @"<nonbutton pos='{FPOS}'><img src='8頬創口貼左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
SIF STRCOUNT(CSTR:ARG:頬, "頬創口貼右")
	HOHO += @"<nonbutton pos='{FPOS}'><img src='8頬創口貼右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
SIF STRCOUNT(CSTR:ARG:頬, "頬創口貼鼻")
	HOHO += @"<nonbutton pos='{FPOS}'><img src='8頬創口貼鼻' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"

;口
IF COND("種族：獣人", ARG)
	NUM_FANG = 2
ELSEIF COND("種族：吸血鬼", ARG) + COND("種族：竜人", ARG)
	NUM_FANG = 1
ELSE
	NUM_FANG = 0
ENDIF
SELECTCASE CONDS("嘴形", ARG)
CASE "大口", "ワ", "半開"
	MOUTH = <nonbutton pos='{FPOS}'><img src='9%CONDS("嘴形", ARG)%%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASEELSE
	MOUTH = <nonbutton pos='{FPOS}'><img src='9%CONDS("嘴形", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT

SELECTCASE CONDS("左眼形", ARG)
;色が関係ない目
CASE "眯眯眼", "にっこり", "瞑り", "〇〇", "＞＜"
	LEYE = <nonbutton pos='{FPOS}'><img src='11%CONDS("左眼形", ARG)%左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASEELSE
	LEYE = <nonbutton pos='{FPOS}'><img src='11%CONDS("左眼形", ARG)%%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT
SELECTCASE CONDS("右眼形", ARG)
;色が関係ない目
CASE "眯眯眼", "にっこり", "瞑り", "〇〇", "＞＜"
	REYE = <nonbutton pos='{FPOS}'><img src='11%CONDS("右眼形", ARG)%右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASEELSE
	REYE = <nonbutton pos='{FPOS}'><img src='11%CONDS("右眼形", ARG)%%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT

IF TALENT:ARG:動物耳
	IF COND("種族：兎", ARG)
		ANIMAL_EARS = <nonbutton pos='{FPOS}'><img src='12兎耳%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ELSEIF TALENT:ARG:動物耳 == 2
		ANIMAL_EARS = <nonbutton pos='{FPOS}'><img src='12動物耷拉耳%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ELSE
		ANIMAL_EARS = <nonbutton pos='{FPOS}'><img src='12動物耳%CONDS("髪色の種類", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDIF
ELSEIF TALENT:ARG:精灵耳
	FACE = %FACE%<nonbutton pos='{FPOS}'><img src='12%CONDS("耳の形", ARG)%%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ELSE
	;髪型次第では人間耳は隠れる
	SELECTCASE CONDS("髪長", ARG)
	CASE "披肩", "長", "超長"
		SELECTCASE CONDS("前髪", ARG)
		CASE "撩刘海", "編髪", "外八刘海", "露额头", "齐刘海", "不对称", "Ｍ字刘海"
			FACE = %FACE%<nonbutton pos='{FPOS}'><img src='12%CONDS("耳の形", ARG)%%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASEELSE
			SELECTCASE CONDS("改髪", ARG)
			CASE "编起来", "盘头", "双马尾", "短双马尾", "長双马尾", "卷双马尾", "钻头双马尾", "团子头双马尾", "马尾辫", "单辫"
				FACE = %FACE%<nonbutton pos='{FPOS}'><img src='12%CONDS("耳の形", ARG)%%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			ENDSELECT
		ENDSELECT
	CASEELSE
		FACE = %FACE%<nonbutton pos='{FPOS}'><img src='12%CONDS("耳の形", ARG)%%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
ENDIF
;眉
MAYU = <nonbutton pos='{FPOS}'><img src='18%CONDS("眉形", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

;服の下につける
IF CHECK_OTHER("赤い鈴付き项圈", ARG)
	CLOTHES_FACE = <nonbutton pos='{FPOS}'><img src='20赤い鈴付き项圈' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ELSEIF CHECK_OTHER("黑色鈴付き项圈", ARG)
	CLOTHES_FACE = <nonbutton pos='{FPOS}'><img src='20黑色鈴付き项圈' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ELSEIF CHECK_OTHER("鈴付き项圈", ARG)
	CLOTHES_FACE = <nonbutton pos='{FPOS}'><img src='20鈴付き项圈' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ELSEIF CHECK_OTHER("黒色颈环", ARG)
	CLOTHES_FACE = <nonbutton pos='{FPOS}'><img src='20黒色颈环' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDIF

SELECTCASE CLO("颜绘衣装", ARG)
CASE "", "裸体"
	CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASEELSE
	SIF STRCOUNT(CLO("颜绘衣装", ARG), "内衣") && CHECK_CLO("泳装姿", ARG) == 0 && CFLAG:ARG:睡眠 + CFLAG:ARG:刚睡醒 + TALENT:ARG:不知羞恥 == 0
		CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

	;重ね着するもの
	SIF STRCOUNT(CLO("颜绘衣装", ARG), "恤没有連帽風衣") && CLO("颜绘衣装：内衣と泳装", ARG) != ""
		CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13%CLO("颜绘衣装：内衣と泳装", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"

	CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13%CLO("颜绘衣装", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
ENDSELECT
;サスペンダー
IF CHECK_CLO("褶边裙吊带", ARG)
	CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13褶边裙吊带%CLOCOLOR_MAIDFACE("褶边裙吊带", CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "裤吊带") ), ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
ELSEIF CHECK_CLO("裤吊带", ARG)
	CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13裤吊带%CLOCOLOR_MAIDFACE("裤吊带", CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "裤吊带") ), ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
ENDIF
;変な柄のＴシャツ
IF CHECK_SHIRT("怪图案Ｔ恤", ARG)
	CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13%CONDS("変Ｔの文字", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
ENDIF


;STR:顔グラ衣装とあなたの衣装用
IF STR:颜绘衣装 != ""
	IF STRCOUNT(STR:颜绘衣装, "/")
		VARSET LOCALS
		SPLIT STR:颜绘衣装, "/", LOCALS
		FOR LCOUNT, 1, STRCOUNT(STR:颜绘衣装, "/") + 1
			SIF LOCALS:LCOUNT == ""
				CONTINUE
			CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		NEXT
	ENDIF
ELSEIF ARG == MASTER
	IF STRCOUNT(CLOTH_MAIDFACE_MASTER(), "/")
		VARSET LOCALS
		SPLIT CLOTH_MAIDFACE_MASTER(), "/", LOCALS
		FOR LCOUNT, 1, STRCOUNT(CLOTH_MAIDFACE_MASTER(), "/") + 1
			SIF LOCALS:LCOUNT == ""
				CONTINUE
			CLOTHES_FACE += @"<nonbutton pos='{FPOS}'><img src='13%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		NEXT
	ENDIF
ENDIF

;会話中は吹き出しON
SIF TFLAG:交流中 || CFLAG:ARG:交流中
	EMOTE = <nonbutton pos='{FPOS}'><img src='21兴奋' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

;精神状態で少し変化
SELECTCASE CONDS("颜绘コンディション", ARG)
CASE "睡眠"
	LEYE = <nonbutton pos='{FPOS}'><img src='11瞑り左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	REYE = <nonbutton pos='{FPOS}'><img src='11瞑り右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

	SELECTCASE CONDS("嘴形", ARG)
	CASE "へ字", "大口", "ワ", "嘟嘴"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9半開%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "嘲笑"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9へ字' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "笑顔"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9微笑' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	SIF EXP_GAIN("睡眠姦経験", ARG)
		CHEEK = <nonbutton pos='{FPOS}'><img src='8赤面%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

	SELECTCASE CONDS("眉形", ARG)
	CASE "憤怒眉", "短憤怒眉"
		MAYU = <nonbutton pos='{FPOS}'><img src='18通常眉%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	EMOTE = <nonbutton pos='{FPOS}'><img src='21睡眠' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "刚睡醒"
	SELECTCASE CONDS("眼形", ARG)
	CASE "眯眯眼"
	CASEELSE
		LEYE = <nonbutton pos='{FPOS}'><img src='11斜眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11斜眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	SELECTCASE CONDS("嘴形", ARG)
	CASE "へ字", "大口", "ワ", "笑顔", "嘟嘴"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9半開%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "微笑", "へ字", "嘲笑"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9△' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	EMOTE = <nonbutton pos='{FPOS}'><img src='21困倦' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	;萌え袖
	SIF CHECK_SHIRT("萌え袖", ARG)
		IS_MOESODE = 1
CASE "心情差"
	SELECTCASE CONDS("眼形", ARG)
	CASE "三白眼", "重度三白眼"
		LEYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		LEYE = <nonbutton pos='{FPOS}'><img src='11斜眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11斜眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	SELECTCASE CONDS("嘴形", ARG)
	CASE "微笑", "笑顔", "大口", "ワ", "無口系"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9△' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASE "△", "ω", "嘲笑"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9無口系' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	CHEEK = 
	;会話エモートは消す
	SIF CFLAG:ARG:交流中 == 0
		EMOTE = 
	;EMOTE = <nonbutton pos='{FPOS}'><img src='21怒り' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "憤怒"
	SELECTCASE CONDS("眼形", ARG)
	CASE "重度三白眼"
		LEYE = <nonbutton pos='{FPOS}'><img src='11三白眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11三白眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	SELECTCASE CONDS("嘴形", ARG)
	CASE "ω", "ワ"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9嘟嘴' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		MOUTH = <nonbutton pos='{FPOS}'><img src='9△' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	SELECTCASE CONDS("眉形", ARG)
	CASE "麻呂眉"
	CASEELSE
		MAYU = <nonbutton pos='{FPOS}'><img src='18憤怒眉%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	CHEEK = 
	EMOTE = <nonbutton pos='{FPOS}'><img src='21憤怒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "甜言蜜语"
	IF TALENT:ARG:高贵 + TALENT:ARG:冷静 + TALENT:ARG:清楚
		IF CFLAG:ARG:夸奖 && CFLAG:ARG:躁动难忍 == 0
			LEYE = <nonbutton pos='{FPOS}'><img src='11眯眯眼左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			REYE = <nonbutton pos='{FPOS}'><img src='11眯眯眼右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDIF

		SELECTCASE CONDS("嘴形", ARG)
		CASE "大口", "半開"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9ω' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "笑顔"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9ワ%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "△", "へ字", "無口系", "嘲笑"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9微笑' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ELSE
		IF CFLAG:ARG:夸奖 && CFLAG:ARG:躁动难忍 == 0
			LEYE = <nonbutton pos='{FPOS}'><img src='11にっこり左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			REYE = <nonbutton pos='{FPOS}'><img src='11にっこり右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDIF
		SELECTCASE CONDS("嘴形", ARG)
		CASE "半開", "嘲笑"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9ω' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "△", "へ字", "無口系"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9微笑' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ENDIF
	CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	IF TALENT:ARG:叛逆 == 0 && (TALENT:ARG:恋慕 || CFLAG:ARG:夸奖 || CFLAG:ARG:躁动难忍) && TFLAG:交流中 == 0 && CFLAG:ARG:交流中 == 0
		EMOTE = <nonbutton pos='{FPOS}'><img src='21爱心' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		;恋慕or淫乱＆ムラムラならハート目に
		SIF TALENT:ARG:恋慕 + TALENT:ARG:淫乱 && CFLAG:ARG:躁动难忍 && STRCOUNT(CSTR:ARG:颜绘変化, "爱心眼") == 0
			CSTR:ARG:颜绘変化 += "/爱心眼"
	ENDIF
CASE "夸奖"
	SELECTCASE CONDS("眉形", ARG)
	CASE "困扰眉", "短困扰眉"
		MAYU = <nonbutton pos='{FPOS}'><img src='18斜眉%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	IF TALENT:ARG:高贵 + TALENT:ARG:冷静 + TALENT:ARG:清楚
		LEYE = <nonbutton pos='{FPOS}'><img src='11眯眯眼左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11眯眯眼右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

		SELECTCASE CONDS("嘴形", ARG)
		CASE "大口", "半開"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9ω' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "笑顔"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9ワ%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "△", "へ字", "無口系"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9微笑' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ELSE
		LEYE = <nonbutton pos='{FPOS}'><img src='11にっこり左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11にっこり右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

		SELECTCASE CONDS("嘴形", ARG)
		CASE "半開"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9ω' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "△", "へ字", "無口系"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9微笑' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ENDIF
	SIF TALENT:ARG:冷静 + TALENT:ARG:感情缺乏 == 0
		CHEEK = <nonbutton pos='{FPOS}'><img src='8红晕%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	SIF TFLAG:交流中 == 0 && CFLAG:ARG:交流中 == 0
		EMOTE = <nonbutton pos='{FPOS}'><img src='21開心' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "叛逆"
	SELECTCASE CONDS("嘴形", ARG)
	CASE "微笑", "笑顔", "大口", "ω", "ワ"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9へ字' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	MAYU = <nonbutton pos='{FPOS}'><img src='18憤怒眉%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CHEEK = 
CASE "躁动难忍"
	SELECTCASE CONDS("嘴形", ARG)
	CASE "笑顔"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9△' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	IF TALENT:ARG:叛逆 == 0 && COND("発情中", ARG)
		SELECTCASE CONDS("眉形", ARG)
		CASE "麻呂眉"
		CASEELSE
			MAYU = <nonbutton pos='{FPOS}'><img src='18困扰眉%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
		MOUTH = <nonbutton pos='{FPOS}'><img src='9半開%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		;EMOTE = <nonbutton pos='{FPOS}'><img src='21ハート' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDIF
CASE "害羞"
	SELECTCASE CONDS("眉形", ARG)
	CASE "麻呂眉", "憤怒眉", "短憤怒眉"
	CASEELSE
		MAYU = <nonbutton pos='{FPOS}'><img src='18困扰眉%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT
	CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	;萌え袖
	SIF CHECK_SHIRT("萌え袖", ARG)
		IS_MOESODE = 1
CASE "惊嚇"
	LEYE = <nonbutton pos='{FPOS}'><img src='11〇〇左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	REYE = <nonbutton pos='{FPOS}'><img src='11〇〇右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

	SELECTCASE CONDS("嘴形", ARG)
	CASE "微笑", "へ字", "笑顔", "大口", "ω", "ワ", "嘲笑"
		MOUTH = <nonbutton pos='{FPOS}'><img src='9△' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	CHEEK = 
	EMOTE = <nonbutton pos='{FPOS}'><img src='21惊讶' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "小悪魔"
	SELECTCASE CONDS("眼形", ARG)
	CASE "三白眼"
		LEYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	MOUTH = <nonbutton pos='{FPOS}'><img src='9微笑' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	;萌え袖
	SIF CHECK_SHIRT("萌え袖", ARG)
		IS_MOESODE = 1
CASE "红潮恍惚"
	SELECTCASE CONDS("眼形", ARG)
	CASE "三白眼", "重度三白眼"
		LEYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		LEYE = <nonbutton pos='{FPOS}'><img src='11斜眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		REYE = <nonbutton pos='{FPOS}'><img src='11斜眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDSELECT

	MOUTH = <nonbutton pos='{FPOS}'><img src='9△' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CHEEK = <nonbutton pos='{FPOS}'><img src='8紅潮%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "目陰"
	FACE = %FACE%<nonbutton pos='{FPOS}'><img src='22目陰%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	LEYE = 
	REYE = 
ENDSELECT
;SIF COND("汗だく", ARG)
;	EMOTE = <nonbutton pos='{FPOS}'><img src='21汗' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

;青肌は頬の紅潮変化を無くす
;SELECTCASE CONDS("顔の色", ARG)
;CASE "青肌"
;	CHEEK = 
;ENDSELECT

IF CEVENT("正体偽装", ARG) == 0
	;角は髪とかの色で色が変わる
	IF TALENT:ARG:角
		IF COND("種族：竜人", ARG)
			SELECTCASE CONDS("髪色の種類", ARG)
			CASE "青"
				TUNO = <nonbutton pos='{FPOS}'><img src='19c茶' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "黒", "銀", "緑"
				TUNO = <nonbutton pos='{FPOS}'><img src='19c赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "金", "赤", "茶", "桃"
				TUNO = <nonbutton pos='{FPOS}'><img src='19c青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASEELSE
				TUNO = <nonbutton pos='{FPOS}'><img src='19c黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			ENDSELECT
		ELSEIF COND("種族：鬼", ARG)
			SELECTCASE CONDS("髪色の種類", ARG)
			CASE "青"
				TUNO = <nonbutton pos='{FPOS}'><img src='19a茶' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "黒", "銀", "緑"
				TUNO = <nonbutton pos='{FPOS}'><img src='19a赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "金", "赤", "茶", "桃"
				TUNO = <nonbutton pos='{FPOS}'><img src='19a青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASEELSE
				TUNO = <nonbutton pos='{FPOS}'><img src='19a黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			ENDSELECT
		ELSEIF COND("種族：悪魔", ARG) || COND("種族：魔界人", ARG)
			SELECTCASE CONDS("髪色の種類", ARG)
			CASE "青", "紺"
				TUNO_SIDE = <nonbutton pos='{FPOS}'><img src='14a茶' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "黒", "焦茶"
				TUNO_SIDE = <nonbutton pos='{FPOS}'><img src='14a赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "金", "緑"
				TUNO_SIDE = <nonbutton pos='{FPOS}'><img src='14a桃' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASEELSE
				TUNO_SIDE = <nonbutton pos='{FPOS}'><img src='14a黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			ENDSELECT
		ENDIF
	ENDIF
	IF COND("種族：淫魔", ARG) || (COND("種族：魔界人", ARG) && TALENT:ARG:翼)
		SELECTCASE CONDS("髪色の種類", ARG)
		CASE "青", "紺"
			TUNO_SIDE = %TUNO_SIDE%<nonbutton pos='{FPOS}'><img src='14d茶' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "黒", "金", "緑", "焦茶"
			TUNO_SIDE = %TUNO_SIDE%<nonbutton pos='{FPOS}'><img src='14d紫' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASEELSE
			TUNO_SIDE = %TUNO_SIDE%<nonbutton pos='{FPOS}'><img src='14d黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ENDIF
ENDIF

SELECTCASE CONDS("眼鏡", ARG)
CASE "", "无眼鏡"
CASE "眼罩黒", "眼罩白"
	MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	LEYE = <nonbutton pos='{FPOS}'><img src='11眯眯眼左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	REYE = <nonbutton pos='{FPOS}'><img src='11眯眯眼右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASE "太阳鏡"
	MEGANE = <nonbutton pos='{FPOS}'><img src='20太阳鏡' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
CASEELSE
	SELECTCASE CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "眼鏡") )
	CASE "黒", "赤", "青"
		CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%%CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "眼鏡") )%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		IF STRCOUNT(CSTR:ARG:喜欢的颜色, "黒")
			MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ELSEIF STRCOUNT(CSTR:ARG:喜欢的颜色, "赤")
			MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ELSEIF STRCOUNT(CSTR:ARG:喜欢的颜色, "青")
			MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ELSE
			SELECTCASE CONDS("肤色", ARG)
			CASE "普通"
				;SELECTCASE CONDS("右目の色", ARG)
				;CASE "黒"
				;	MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				;CASEELSE
					MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				;ENDSELECT
			CASE "褐色肌"
				SELECTCASE CONDS("右瞳色", ARG)
				CASE "赤"
					MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				CASEELSE
					MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				ENDSELECT
			CASEELSE
				SELECTCASE CONDS("右瞳色", ARG)
				CASE "赤"
					MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				CASEELSE
					MEGANE = <nonbutton pos='{FPOS}'><img src='20%CONDS("眼鏡", ARG)%赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				ENDSELECT
			ENDSELECT
		ENDIF
	ENDSELECT
ENDSELECT
;三白眼はメガネ形状に合わせる
IF MEGANE != ""
	SELECTCASE CONDS("眼鏡", ARG)
	CASE "专家眼鏡", "黑框眼鏡", "太阳鏡"
		SELECTCASE CONDS("眼形", ARG)
		CASE "三白眼"
			LEYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			REYE = <nonbutton pos='{FPOS}'><img src='11重度三白眼%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ENDSELECT
ENDIF

SIF CHECK_OTHER("ウェディングベール", ARG) || STRCOUNT(STR:颜绘衣装, "婚纱礼服")
    HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15ウェディングベール' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
SIF CHECK_SHIRT("啦啦队制服", ARG) || STRCOUNT(STR:颜绘衣装, "啦啦队制服")
	OTHER = <nonbutton pos='{FPOS}'><img src='22ponpon' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
IF CHECK_OTHER("围巾", ARG) && PLACE("野外")
	SELECTCASE CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "围巾") )
	CASE "藤の花", "緑色", "橙色", "紫", "赤", "黄色", "青", "白"
		CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾%CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "围巾") )%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	CASEELSE
		SELECTCASE CONDS("右瞳色", ARG)
		CASE "赤", "紫"
			CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾%CONDS("右瞳色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "緑", "黄"
			CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾%CONDS("右瞳色", ARG)%色' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASEELSE
			SELECTCASE CONDS("髪色の種類", ARG)
			CASE "黒", "茶"
				CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "金", "銀", "青", "緑"
				CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾橙色' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASE "赤", "紫"
				CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾緑色' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			CASEELSE
				CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='20围巾青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			ENDSELECT
		ENDSELECT
	ENDSELECT
;ELSEIF CHECK_OTHER("蝶ネクタイ", ARG) || STRCOUNT(STR:顔グラ衣装, "バニー")
;	;バニースーツの色に合わせる
;	SELECTCASE CONDS("髪色の種類", ARG)
;	CASE "黒"
;		CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='13蝶ネクタイ赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
;	CASE "金"
;		CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='13蝶ネクタイ青' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
;	CASEELSE
;		IF COND("教員", ARG)
;			CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='13蝶ネクタイ黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
;		ELSE
;			CLOTHES_FACE = %CLOTHES_FACE%<nonbutton pos='{FPOS}'><img src='13蝶ネクタイ赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
;		ENDIF
;	ENDSELECT
ENDIF

;精液
IF CHECK_STAIN(STAIN:ARG:顔, "精液")
	BUKKAKE = %BUKKAKE%<nonbutton pos='{FPOS}'><img src='22精液右頬' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	BUKKAKE = %BUKKAKE%<nonbutton pos='{FPOS}'><img src='22精液左頬' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDIF
SIF CHECK_STAIN(STAIN:ARG:髪, "精液")
	BUKKAKE = %BUKKAKE%<nonbutton pos='{FPOS}'><img src='22精液髪' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
SIF CHECK_STAIN(STAIN:ARG:Ｂ, "精液")
	BUKKAKE = %BUKKAKE%<nonbutton pos='{FPOS}'><img src='22精液Ｂ' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>

;帽子系。吹き出しを除く他全ての前に描写するタイプの物はOVERを用いる
IF CHECK_OTHER("修女帽", ARG) || STRCOUNT(STR:颜绘衣装, "修道服")
    OVER = <nonbutton pos='{FPOS}'><img src='15修女帽' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	;アレンジ、リボン、アホ毛、動物耳、ツノ、翼などはおかしなことになるので無くす
	HAIR_ACCE = 
	TUNO = 
	TUNO_SIDE = 
	ANIMAL_EARS = 
	RIBBON = 
	RIBBON_MIDDLE = 
	RIBBON_FRONT = 
	HAIR_AHOGE = 
	HAIR_BACK = 
	HAIR_MIDDLE = 
ELSEIF CHECK_OTHER("兔耳", ARG) || STRCOUNT(STR:颜绘衣装, "兔")
	IF TALENT:ARG:動物耳 == 0
		SELECTCASE CLO("颜绘衣装の色", ARG)
		CASE "黒", "紫", "赤", "青", "白"
			HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15d%CLO("颜绘衣装の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASEELSE
			HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15d赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		ENDSELECT
	ENDIF
ELSEIF CHECK_OTHER("护士帽", ARG) || STRCOUNT(STR:颜绘衣装, "护士服")
    HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15护士帽' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("头冠", ARG) || STRCOUNT(STR:颜绘衣装, "婚纱礼服")
    HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15头冠' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("女仆帽", ARG) || (STRCOUNT(STR:颜绘衣装, "女仆装") && CONFIG("女仆帽") )
	HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15女仆帽' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_AHOGE = 
	HAIR_BACK = 
	HAIR_MIDDLE = 
	ANIMAL_EARS = 
ELSEIF CHECK_OTHER("礼服头花", ARG) || STRCOUNT(STR:颜绘衣装, "女仆装")
	HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15a白' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("頭上太阳鏡", ARG)
	OVER = <nonbutton pos='{FPOS}'><img src='15頭上太阳鏡' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("髮箍", ARG)
	HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='15b赤' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDIF

IF CHECK_OTHER("魔女の帽子", ARG)
	OVER = <nonbutton pos='{FPOS}'><img src='5魔女の帽子' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("鸭舌帽", ARG)
	HAIR_FRONT += @"<nonbutton pos='{FPOS}'><img src='5鸭舌帽%CLOCOLOR_MAIDFACE("鸭舌帽", CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "帽子") ), ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
	ANIMAL_EARS = 
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("草帽", ARG)
	HAIR_FRONT += @"<nonbutton pos='{FPOS}'><img src='5草帽' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
	ANIMAL_EARS = 
	HAIR_AHOGE = 
ELSEIF CHECK_OTHER("贝雷帽", ARG)
	HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='5贝雷帽%CLOCOLOR_MAIDFACE("贝雷帽", CHECK_CLOCOLOR(OTHER(CSTR:ARG:飾品, "帽子") ), ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ANIMAL_EARS = 
	HAIR_AHOGE = 
ENDIF

;顔グラ変化あり？
IF CSTR:ARG:颜绘変化 != ""
	VARSET LOCALS
	SPLIT CSTR:ARG:颜绘変化, "/", LOCALS
	FOR LCOUNT, 0, 10
		SELECTCASE LOCALS:LCOUNT
		;CASE ""
		;	BREAK
		CASE "普通眼", "普通眼２", "吊眼", "吊眼２", "垂眼", "垂眼２", "斜眼", "斜眼２", "水灵眼", "縦長目", "三白眼", "重度三白眼"
			LEYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			REYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "眯眯眼", "にっこり", "瞑り", "〇〇", "＞＜"
			LEYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			REYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "左普通眼", "左普通眼２", "左吊眼", "左吊眼２", "左垂眼", "左垂眼２", "左斜眼", "左斜眼２",  "左水灵眼", "左縦長目", "左三白眼", "左重度三白眼"
			LOCALS:LCOUNT = %SUBSTRINGU(LOCALS:LCOUNT, 1, -1)%
			LEYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "左眯眯眼", "左にっこり", "左瞑り", "左〇〇", "左＞＜"
			LOCALS:LCOUNT = %SUBSTRINGU(LOCALS:LCOUNT, 1, -1)%
			LEYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "右普通眼", "右普通眼２", "右吊眼", "右吊眼２", "右垂眼", "右垂眼２", "右斜眼", "右斜眼２", "右水灵眼", "右縦長目", "右三白眼", "右重度三白眼"
			LOCALS:LCOUNT = %SUBSTRINGU(LOCALS:LCOUNT, 1, -1)%
			REYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "右眯眯眼", "右にっこり", "右瞑り", "右〇〇", "右＞＜"
			LOCALS:LCOUNT = %SUBSTRINGU(LOCALS:LCOUNT, 1, -1)%
			REYE = <nonbutton pos='{FPOS}'><img src='11%LOCALS:LCOUNT%右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "爱心眼"
			SELECTCASE CHECK_TYPE(REYE)
			CASE "普通眼", "吊眼", "垂眼", "斜眼", "水灵眼", "縦長目", "三白眼"
				SELECTCASE CONDS("右瞳色", ARG)
				CASE "焦茶", "赤", "茶"
					REYE_OVER = <nonbutton pos='{FPOS}'><img src='白爱心%CHECK_TYPE(REYE)%右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				CASEELSE
					REYE_OVER = <nonbutton pos='{FPOS}'><img src='爱心%CHECK_TYPE(REYE)%右' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				ENDSELECT
			ENDSELECT

			SELECTCASE CHECK_TYPE(LEYE)
			CASE "普通眼", "吊眼", "垂眼", "斜眼", "水灵眼", "縦長目", "三白眼"
				SELECTCASE CONDS("左瞳色", ARG)
				CASE "焦茶", "赤", "茶"
					LEYE_OVER = <nonbutton pos='{FPOS}'><img src='白爱心%CHECK_TYPE(LEYE)%左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				CASEELSE
					LEYE_OVER = <nonbutton pos='{FPOS}'><img src='爱心%CHECK_TYPE(LEYE)%左' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
				ENDSELECT
			ENDSELECT
		CASE "通常眉", "憤怒眉", "斜眉", "困扰眉", "麻呂眉"
			MAYU = <nonbutton pos='{FPOS}'><img src='18%LOCALS:LCOUNT%%CONDS("眉の長さ", ARG)%黒' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "大口", "ワ", "半開"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9%LOCALS:LCOUNT%%NUM_FANG%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "微笑", "へ字", "笑顔", "△", "無口系", "ω", "嘲笑", "小口", "嘟嘴"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "脸谱赤", "脸谱青", "战妆"
			MAKEUP = <nonbutton pos='{FPOS}'><img src='8%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "赤面"
			CHEEK = <nonbutton pos='{FPOS}'><img src='8%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "楕円", "红晕", "婴儿红晕", "紅潮"
			CHEEK = <nonbutton pos='{FPOS}'><img src='8%LOCALS:LCOUNT%%CONDS("脸颊カラー", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "頬傷左", "頬傷鼻", "頬傷右"
			HOHO += @"<nonbutton pos='{FPOS}'><img src='8%LOCALS:LCOUNT%%CONDS("顔の色", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		CASE "頬創口貼左", "頬創口貼鼻", "頬創口貼右"
			HOHO += @"<nonbutton pos='{FPOS}'><img src='8%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		CASE "血迹"
			CHEEK = <nonbutton pos='{FPOS}'><img src='22血迹' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		;鞄
		CASE "挎包"
			BAG = <nonbutton pos='{FPOS}'><img src='22%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		;小物
		CASE "茶", "橘子", "本"
			OTHER = <nonbutton pos='{FPOS}'><img src='22%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "頭上橘子"
			HAIR_ACCE = <nonbutton pos='{FPOS}'><img src='22頭上橘子' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>%HAIR_ACCE%
		CASE "頭上太阳鏡"
			SIF CHECK_OTHER("頭上太阳鏡", ARG) == 0
				OVER = <nonbutton pos='{FPOS}'><img src='15頭上太阳鏡' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		;口に咥えるもの
		CASE "烟", "冰", "pocky", "面包", "法棍"
			MOUTH = <nonbutton pos='{FPOS}'><img src='9無口系' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			OTHER += @"<nonbutton pos='{FPOS}'><img src='22%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		CASE "避孕套"
			SELECTCASE CONDS("嘴形", ARG)
			CASE "微笑", "無口系"
			CASEELSE
				MOUTH = <nonbutton pos='{FPOS}'><img src='9無口系' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			ENDSELECT
			OTHER += @"<nonbutton pos='{FPOS}'><img src='22%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		CASE "扇子赤", "扇子富士山", "扇子桜", "扇子白"
			OTHER = <nonbutton pos='{FPOS}'><img src='22%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "扇子"
			OTHER = <nonbutton pos='{FPOS}'><img src='22扇子富士山' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "萌え袖"
			IS_MOESODE = 1
		CASE "对话框憤怒", "对话框汗", "对话框爱心", "对话框兴奋", "对话框惊讶", "对话框睡眠", "对话框困倦", "对话框開心", "对话框・・・", "对话框？", "对话框！"
			LOCALS:LCOUNT = %SUBSTRINGU(LOCALS:LCOUNT, 3, -1)%
			EMOTE = <nonbutton pos='{FPOS}'><img src='21%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
		CASE "爱心大量", "对话框爱心大量"
			EMOTE = <nonbutton pos='{FPOS}'><img src='21爱心' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
			EMOTE += @"<nonbutton pos='{FPOS}'><img src='22爱心大量' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>"
		ENDSELECT

		IF STRCOUNT(LOCALS:LCOUNT, "BG=")
			LOCALS:LCOUNT = %REPLACE(LOCALS:LCOUNT, "BG=", "")%
			BG = <button value='{CFLAG:ARG:優先順位 + 10}' pos='{FPOS}' title='%TEXT_TITLE%'><img src='%LOCALS:LCOUNT%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></button>
		ENDIF
	NEXT
ENDIF

;萌え袖
IF OTHER == "" && IS_MOESODE && CHECK_CLO("萌え袖可能", ARG)
	IF STRCOUNT(CLO("颜绘衣装", ARG), "＆")
		OTHER = <nonbutton pos='{FPOS}'><img src='22%EXTSTR(CLO("颜绘衣装", ARG), "＆", "")%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ELSE
		OTHER = <nonbutton pos='{FPOS}'><img src='22%CLO("颜绘衣装", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
	ENDIF
ENDIF

;目の形に２とかをその都度付けるのがバグの元なので最後に一回だけ見る
SELECTCASE CHECK_TYPE(REYE)
CASE "普通眼", "吊眼", "垂眼", "斜眼"
	SIF STRCOUNT(CONDS("右眼形", ARG), "２")
		REYE = <nonbutton pos='{FPOS}'><img src='11%CHECK_TYPE(REYE)%２%CONDS("右瞳色", ARG)%右%CONDS("右白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT
SELECTCASE CHECK_TYPE(LEYE)
CASE "普通眼", "吊眼", "垂眼", "斜眼"
	SIF STRCOUNT(CONDS("左眼形", ARG), "２")
		LEYE = <nonbutton pos='{FPOS}'><img src='11%CHECK_TYPE(LEYE)%２%CONDS("左瞳色", ARG)%左%CONDS("左白眼", ARG)%' height = '{FSIZE}' width = '{FSIZE}' ypos = '0'></nonbutton>
ENDSELECT

;アニメーション用の変数に記録
SAVEFACE_BACK:ARG = %BG%%HEAD_BACK%%RIBBON%%HAIR_BACK%%HAIR_LENGTH%%FACE%%MAKEUP%%HOHO%%CHEEK%%ANIMAL_EARS%
SAVEFACE_MOUTH:ARG = %MOUTH%
SAVEFACE_EYES:ARG = %LEYE%%REYE%%LEYE_OVER%%REYE_OVER%
SAVEFACE_FRONT:ARG = %CLOTHES_FACE%%HAIR_ACCE%%HAIR_MIDDLE%%RIBBON_MIDDLE%%TUNO_SIDE%%MEGANE%%BAG%%HAIR_FRONT%%RIBBON_FRONT%%HAIR_AHOGE%%TUNO%%HANE%%OTHER%%BUKKAKE%
SAVEFACE_MAYU:ARG = %MAYU%
SAVEFACE_OVER:ARG = %OVER%%EMOTE%

LOCALS = %SAVEFACE_BACK:ARG%%SAVEFACE_MOUTH:ARG%%SAVEFACE_EYES:ARG%%SAVEFACE_FRONT:ARG%%SAVEFACE_MAYU:ARG%%SAVEFACE_OVER:ARG%


RETURNF LOCALS
