;------------------------------------
;花の意味、言葉を選ぶ
;------------------------------------
@K44_Languag_of_Flowers
PRINTFORML 
PRINTFORMW 有一天、%CALLNAME:MASTER%把%CALLNAME:TARGET%叫出来了。
PRINTFORMW 虽然平时就天天这样叫她出来就是了。
PRINTFORMW 约好的地点、是与%CALLNAME:TARGET%第一次相遇时的小路。
PRINTFORMW 虽然相遇的时间与现在不同、但是确实是两人相遇的地方。
PRINTFORMW 那之后、被%CALLNAME:TARGET%杀了多少次呢。
PRINTFORMW 最少也有10次以上了。
PRINTFORMW 慣れたモノだと自嘲する様に笑ってしまう。
PRINTFORML 
PRINTFORMW 「久等了？」
PRINTFORMW 稍微等了一会、来迟的%CALLNAME:TARGET%走过来问道。
PRINTFORMW 手中握着与那时相同的匕首。
IF EXP:デート経験
	PRINTFORMW 「えへへ……デートみたい、ですね」
	PRINTFORM 困ったように笑う彼女は、それから急に
ELSE
	PRINTFORM 対面した彼女はすぐに、
ENDIF
PRINTFORMW 俯いて黙ってしまった。
PRINTFORMW 「………%CNAME("二人称")%さん」
PRINTFORMW ぽつりと声が零れる。
PRINTFORMW 「ボク……おかしいのです」
PRINTFORMW 零れ落ちた声は震えていて、今にも消えてしまいそうだった。
PRINTFORML 
PRINTFORMW %CALLNAME:TARGET%低着头看不到她的表情。
PRINTFORMW 「ボクは人を殺していました」
PRINTFORMW 「男の人も、女の人も、小さな人も、大きな人も」
PRINTFORMW 「何にも考えずに……殺していました」
PRINTFORMW 「いっぱい、いっぱい殺して、いました」
PRINTFORML 
PRINTFORMW %CALLNAME:TARGET%握紧的手流下了猩红的血液。
PRINTFORMW 「%CNAME("二人称")%さんと出会ってから、おひさまがいっぱいのぼりました」
PRINTFORMW 「%CNAME("二人称")%さんに見つけてもらってから、おつきさまがいっぱいしずみました」
PRINTFORMW 「我、学到了需多」
PRINTFORMW 「『うれしい』も『たのしい』も『すてき』も『あたりまえ』も全部全部」
PRINTFORMW 「いっぱい、『きれいなもの』を知りました」
PRINTFORML 
PRINTFORMW 「人は殺してしまえば死んでしまいます」
PRINTFORMW 「人は殺してしまえば死んでしまうのです」
PRINTFORML 
PRINTFORMW 「ボク、思い出したんです」
PRINTFORMW 「学校のみなさんと同じ制服の人を殺した事を」
PRINTFORMW 「ボクは人を殺してしまったんです」
PRINTFORMW 「でもそれがボクにとって『あたりまえ』だったんです」
PRINTFORMW 「でも今はちがう『あたりまえ』を教えてもらいました」
PRINTFORML 
PRINTFORMW 「ボクは…」
PRINTFORMW 俯いていた顔が上がる。
PRINTFORMW 「えへ、えへへ……ボクはよごれていたんですね」
PRINTFORMW 何時もの笑顔で、力なく笑っていた。
PRINTFORMW 瞳からははらりはらはらと雫が落ちる。
PRINTFORMW 頬を伝った雫を隠す様に拭って吹き去る。
PRINTFORML 
PRINTFORMW 「ボクは人を殺しました」
PRINTFORMW 「ここを通った人を、何も考えずに。刺しました、斬りました、殴りました」
PRINTFORMW 「何度でも、何人でも、何時でも」
PRINTFORMW 「殺してしまった人の数は覚えていません。顔も覚えていません。殺したときの感触も覚えていません」
PRINTFORMW 「ボクは……何も覚えていないのです」
PRINTFORMW 「%CNAME("二人称")%さんと出会って、ボクは人を知りました」
PRINTFORMW 「一人じゃないことを。顔があって、お話が出来て、触れて、その手が温かいことを」
PRINTFORMW 「誰が何が好きで、何を考えて、何を思って、どんな風に生きているかを」
PRINTFORMW 「色んな人と出会いました。誰が誰かをボクは知りました」
PRINTFORMW 「ボクは……それを……羨ましい、って思ったんです」
PRINTFORMW 「とってもきれいでキラキラしててボクは……」
PRINTFORMW 「ボクがよごれていることに気がついたんです」
PRINTFORMW 「思い出しました。人を殺したときを」
PRINTFORMW 「刺した時に柔らかいようで硬い感触を」
PRINTFORMW 「血が出てぬめりとした温かくて気持ちが悪い感覚を」
PRINTFORMW 「何が起きたか分からなくて、分かって恨むような視線を」
PRINTFORMW 「息をするのが辛くなるくらいにキツイ匂いを」
PRINTFORMW 「それをどうとも思ってないボクの感情を」
PRINTFORMW 「どうしてでしょう」
PRINTFORMW 「%CNAME("二人称")%さんとつないだ手がどんどん冷たく感じました」
PRINTFORMW 「でも、つなげないのです」
PRINTFORMW 「ボクの手は……、ボクは……きたないのですから」
PRINTFORML 
PRINTFORMW 「―――それに」
PRINTFORML 
PRINTFORMW 「―――オオカミさんは赤ずきんになれないですから」
PRINTFORML 
PRINTFORMW 儚い笑顔だった。今にも消えてしまいそうな。
PRINTFORMW 憧れと、自責と、後悔、全てが小さな少女を責め立てる。
PRINTFORMW そうなりたいのに、そうなれない。そうなってはいけないと自分を責め立てる。
PRINTFORMW 少女は自分を殺してしまいそうだった。
PRINTFORML 
PRINTFORMW 「%CNAME("二人称")%さん……ボクは……おおかみさんは、よごれているのです」
PRINTFORMW 「それでも……それでも、ボクは……」
PRINTFORMW 「いっぱい、考えました……いっぱいいっぱい考えて」
PRINTFORMW 「おなかがきゅうってなるくらい考えて、考えて考えて考え、て……っ」
PRINTFORML 
PRINTFORMW 「ボクはあなたの隣に居ても良いのって！」
PRINTFORMW 悲鳴だった。
PRINTFORMW 「あんなに殺したのに今さら普通の女の子にみたいに、あなたに『すき』なんて言って良いわけがない！！」
PRINTFORMW 獣の口から出たのは少女の悲鳴だった。
PRINTFORMW 「%CNAME("一人称")%はあなたが好きっ、ボクはあなたが好きなんですっ」
PRINTFORMW 「好き……なのに……ボクは……」
PRINTFORML 
PRINTFORMW 「教えて……ボクは……っ」
PRINTFORMW %CALLNAME:TARGET%抬起头、露出了狰狞的表情
PRINTFORMW 「わたしは、どうすれば……、あなたを好きでいて良いの……？」
PRINTFORMW 她、给出了问题。
PRINTFORMW 你的回答…？
PRINTFORMW いつか読んだ本。
PRINTFORMW いつか知った花言葉が頭を過る。
PRINTFORMW %CALLNAME:MASTER%が頭に浮かべた彼女の花の意味は―――
PRINTFORML 
IF CEVENT("花语抉择")
	IF CFLAG:花の意味 == 0
		CALL K44_Languag_of_Flowers_00
	ELSEIF CFLAG:花の意味 == 1
		CALL K44_Languag_of_Flowers_01
	ELSEIF CFLAG:花の意味 == 2
		CALL K44_Languag_of_Flowers_02
	ENDIF
ELSE
	CALL PRINT_SELECT, "　不负相思意/　鸾凤和鸣/　长相厮守"
	IF RESULT == 0
		CALL K44_Languag_of_Flowers_00
	ELSEIF RESULT == 1
		CALL K44_Languag_of_Flowers_01
	ELSEIF RESULT == 2
		CALL K44_Languag_of_Flowers_02
	ENDIF
ENDIF
SIF CEVENT("花语抉择") == 0
	TALENT:賢い = 1
CALL SET_CEVENT, "花语抉择"
RETURN 1

@K44_Languag_of_Flowers_00
PRINTFORML 欢迎。
PRINTFORMW %CALLNAME:MASTER%对着%CALLNAME:TARGET%说。
PRINTFORMW 以为%CALLNAME:TARGET%会对这个简单的答案感到高兴。
PRINTFORMW 所以、这样就好。这样就好。
PRINTFORML 
PRINTFORMW 「…呼呼！呼呼呼哈哈哈！」
PRINTFORMW 「啊哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈！」
PRINTFORMW 「そうですか！わたしはボクのままで良いのですね！」
PRINTFORMW 「根本没有迷惘的必要啊！」
PRINTFORMW 「简单、简单的话语啊！」
PRINTFORMW 「呼呼！啊哈！啊哈哈哈哈哈哈哈哈哈哈！」
PRINTFORMW %CALLNAME:TARGET%不断地发出狂气的笑声。
PRINTFORMW 大声的、狂气的、讥讽的绽放着。
PRINTFORML 
PRINTFORMW 「あははっくふっふふっはぁ……はぁ……」
PRINTFORMW 「……でしたら、何時もの様にボクにあなたを何時もの様に殺させてください」
PRINTFORMW 这样说着%CALLNAME:TARGET%在那一瞬间挥出了手中的匕首。
PRINTFORML 
PRINTFORMW %CALLNAME:TARGET%从今以后、将永远的杀着%CALLNAME:MASTER%、永远的、持续下去。
PRINTFORMW 因为、那是不用装饰就能拥有致命的美的花朵。
PRINTFORMW 这、就是%CALLNAME:MASTER%选择的她。
PRINTFORMW 
PRINTFORMW ＥＮＤ　「花语抉择：歓迎する」
IF CEVENT("花语抉择") == 0
	CSTR:肩書 = 殺しに酔った殺人姫
	CFLAG:花の意味 = 0
ENDIF
RETURN 1

@K44_Languag_of_Flowers_01
PRINTFORML 陶醉在恋爱之中。
PRINTFORMW %CALLNAME:MASTER%对着%CALLNAME:TARGET%说。
PRINTFORMW %CALLNAME:TARGET%希望她能变成一名普通的女孩子。
PRINTFORMW 所以、不希望她再杀人了。
PRINTFORML 
PRINTFORMW 「这…样吗、…呼呼」
PRINTFORMW 「わたしは……ずっと人を殺すが普通だっておもっていました」
PRINTFORMW 「でも、……ボクはあなたと出会いました」
PRINTFORMW 「已经学到了需多何为普通的事情了」
PRINTFORMW 「あなたが言うから、ボクがそうしたいから」
PRINTFORMW 「もうボクは人を殺しません」
PRINTFORMW %CALLNAME:TARGET%把手中的匕首扔到一旁。
PRINTFORMW 似乎已经抛弃了杀人这一想法。
PRINTFORML 
PRINTFORMW 「……わたしはあなたの事が好きです」
PRINTFORMW 「こんなわたしがあなたを好きになる事を許してください」
PRINTFORMW %CALLNAME:MASTER%に抱き着き精一杯背伸びをして口付けを交わしてくる。
PRINTFORMW それを%CALLNAME:MASTER%は受け入れる。
PRINTFORMW 交わされた口付けは触れるだけの優しいモノだが、それで良かった。
PRINTFORML 
PRINTFORMW 从现在开始、%CALLNAME:TARGET%将作为普通的女孩子陪伴在%CALLNAME:MASTER%的身旁。
PRINTFORMW 只不过、如同路边的野花一般。
PRINTFORMW 这、就是%CALLNAME:MASTER%选择的她。
PRINTFORMW 
PRINTFORMW ＥＮＤ　「花语抉择：恋に酔え」
PRINTFORMW 【%CALLNAME:TARGET%は普通の少女の様に恥ずかしがる様になった】
IF CEVENT("花语抉择") == 0
	CSTR:好きなもの = 何てことの無い毎日/……自分を見つけてくれた人
	CSTR:嫌いなもの = 昔の自分
	CSTR:肩書 = 無垢な少女
	TALENT:恥薄い = 0
	TALENT:恥じらい = 1
	CFLAG:花の意味 = 1
ENDIF
RETURN 1

@K44_Languag_of_Flowers_02
PRINTFORML 绝不分离。
PRINTFORMW %CALLNAME:MASTER%对着%CALLNAME:TARGET%说。
PRINTFORMW %CALLNAME:TARGET%是%CALLNAME:MASTER%的东西、所以%CALLNAME:MASTER%会允许%CALLNAME:TARGET%做的任何事情。
PRINTFORML 
PRINTFORMW 这样说着%CALLNAME:MASTER%强硬的抱住%CALLNAME:TARGET%夺走了她的唇。
PRINTFORMW 就算被匕首刺入内脏也无视的继续着亲吻。
PRINTFORMW 疼痛什么的、早已在无数次被%CALLNAME:TARGET%杀害的经验中习惯了。
PRINTFORMW 伤口痊愈的感觉也早已习惯。
PRINTFORMW 如同时间停滞了一般、两人不断地接吻着。
PRINTFORML 
CALL PRINT_STRW,@"「噗哈！哈啊……_HH_哈啊……_HH_嗯……_HH_」"
PRINTFORMW 所以、视线不要离开我
PRINTFORMW 「わたしはあなたをこのまま普通に好きになって良いの…？」
PRINTFORMW 「そんなズルが、赦されるのでしょうか……？」
PRINTFORMW 他人の都合何て知った事か、%CALLNAME:TARGET%はもう%CALLNAME:MASTER%の女だ。
PRINTFORMW 所以、想杀人的时候就和我说。
PRINTFORMW 喜欢的时候、杀。
PRINTFORMW 不管多少次、杀。
PRINTFORMW 视线不要从我身上离开。%CALLNAME:TARGET%的眼中只能有我。
PRINTFORML 
PRINTFORMW 「ぁっ……ホントに泣いちゃうくらいに酷いです」
PRINTFORMW 「もう、あなた以外見れない……」
PRINTFORMW 「わたしは……、%CALLNAME:MASTER%しか殺しません。あなた以外は殺しません」
PRINTFORMW 「所以」
PRINTFORML      I Love you.
PRINTFORMW 「我会、杀了你」
PRINTFORMW 说完之后、%CALLNAME:TARGET%拔出了插在%CALLNAME:MASTER%腹部的匕首、如同誓约一样的朝胸口刺下。
PRINTFORML 
PRINTFORMW 以后、%CALLNAME:TARGET%也会一直杀%CALLNAME:MASTER%的吧。但是、同时永远的爱着%CALLNAME:MASTER%吧。
PRINTFORMW 接受无知的杀人姬的所有、然后独占她所有的爱。
PRINTFORMW 这、就是%CALLNAME:MASTER%选择的她。
PRINTFORMW 
PRINTFORMW ＥＮＤ　「花语抉择：決して離れない」
PRINTFORMW 【%CALLNAME:TARGET%将不会再杀除你之外的人】
IF CEVENT("花语抉择") == 0
	CSTR:好きなもの = あなた
	CSTR:嫌いなもの = 独り
	CSTR:肩書 = 彼方だけの殺人姫
	TALENT:貞操観念 = 1
	TALENT:恥薄い = 0
	CFLAG:花の意味 = 2
ENDIF
RETURN 1

;------------------------------------
;花の意味、言葉を選ぶ
;------------------------------------
@K44_Languag_of_Choose
PRINTFORML 
$INPUT_LOOP_LoC0
PRINTFORMW %CALLNAME:TARGET%が%CALLNAME:MASTER%以外の人を殺したあの日以来。
PRINTFORMW 彼女の表情にどこか物憂げな表情が増えた気がしていた。
PRINTFORMW それは羨まし気なようであり、悲しげな表情だ。
PRINTFORMW 一体どうしたというのだろう？
PRINTFORML [0] 聞く
PRINTFORML [1] 聞かない
INPUT
IF RESULT == 0
	$INPUT_LOOP_LoC1
	PRINTFORMW 結局、%CALLNAME:MASTER%はまた優れない表情をした%CALLNAME:TARGET%に正面から聞くことにした。
	PRINTFORMW 「………あっ、%CNAME("二人称")%さん。どうかしましたか？」
	PRINTFORMW 最近何だか元気がないようだが大丈夫か？
	PRINTFORMW %CALLNAME:MASTER%が問うと、%CALLNAME:TARGET%は、
	PRINTFORMW 「？、はい。%CNAME("一人称")%は元気ですよ？熱とかないですし」
	PRINTFORMW なんでも無いようにそう小首を傾げる。
	PRINTFORMW 何か、悩み事はないのか？
	PRINTFORMW まさか体調だけの話ではあるまいと重ねて質問した%CALLNAME:MASTER%に、
	PRINTFORMW 「いいえ、ないですよ」
	PRINTFORMW きっぱりと言い切る様に%CALLNAME:TARGET%はそう返す。
	PRINTFORML [0] 断言している
	PRINTFORML [1] 考え込む日もある
	INPUT
	IF RESULT == 0
		PRINTFORML 
		$INPUT_LOOP_LoC2
		PRINTFORMW %CALLNAME:TARGET%が物事を断言する時は何かを誤魔化す時が多い。
		PRINTFORMW もしかしたら、嘘を言っているのかもしれない。
		PRINTFORMW 追求をしてみるか？
		PRINTFORML [0] する
		PRINTFORML [1] しない
		INPUT
		IF RESULT == 0
			PRINTFORML 
			$INPUT_LOOP_LoC3
			PRINTFORMW 何かと鬱屈して悩みを溜めるのは%CALLNAME:TARGET%との問答で分かっている。
			PRINTFORMW 吐き出させないと辛いだろうし、恐らく自分も後悔する事になるかもしれない。
			PRINTFORMW そう考えた%CALLNAME:MASTER%は、なるべく優しい言葉で%CALLNAME:TARGET%に問う。
			PRINTFORMW 本当に何もないのか？
			PRINTFORMW 「はい、ありません。何でしょうか？」
			PRINTFORMW 少し気が立ってきたのか言葉に棘が出始めている。
			PRINTFORML [0] 落ち着かせる
			PRINTFORML [1] もっと追求する
			INPUT
			IF RESULT == 0
				PRINTFORML 
				PRINTFORMW イライラしたのを落ち着かせるように頭を撫でてやる。
				PRINTFORMW 「……っ！…………ごめんなさい、少し生理で気が立ってました」
				PRINTFORMW すると、素面に戻ったようにして表情から険が取れた。
				PRINTFORMW %CALLNAME:MASTER%は一言%CALLNAME:TARGET%に謝る。
				PRINTFORMW 納得がいった上にあまり触れて欲しくない話題だ。
				PRINTFORMW これ以上はやめておこう。
				PRINTFORMW 「いえ、%CNAME("一人称")%の方こそごめんなさい。キツく言っちゃって」
				PRINTFORMW お互いに頭を下げて、%CALLNAME:MASTER%はぼうっと考える。
				PRINTFORMW 普段からあまり考えられないが……
				PRINTFORMW どうやら、%CALLNAME:TARGET%は生理が重たいタイプだったようだ……
				CLEARLINE LINECOUNT
				GOTO INPUT_LOOP_LoC3
			ELSE
				PRINTFORML 
				$INPUT_LOOP_LoC4
				PRINTFORMW しかし今更、この溜め込むことしか知らない少女を放っておくことは出来ない。
				PRINTFORMW 何をそんなに隠してる？
				PRINTFORMW 思わず、%CALLNAME:MASTER%の語気も強くなっていた。
				PRINTFORMW 「何ですか？ただの生理です。少ししんどいだけです」
				PRINTFORMW 元気だと言った手前に翻った言葉は、その指摘を誘うのに十分だった。
				PRINTFORMW 「それは………はい、隠したかっただけです。態々%CNAME("一人称")%の体調であなたに心配をかけたくなくて」
				PRINTFORMW しおらしい態度で、%CALLNAME:TARGET%はしょんぼりとしている。
				PRINTFORML [0] まだ追求する
				PRINTFORML [1] ここでやめておく
				INPUT
				IF RESULT == 0
					PRINTFORML 
					$INPUT_LOOP_LoC5
					PRINTFORMW その雰囲気に、%CALLNAME:MASTER%は何処か嘘臭さを感じた。
					PRINTFORMW しかし、今嘘をつく原因が見当たらない。
					PRINTFORMW %CALLNAME:MASTER%は頭を回す。
					PRINTFORMW 本当に体調が悪い？
					PRINTFORMW 嘘だ。そう直感出来た。
					PRINTFORMW 何か悩みを言いたくないから？
					PRINTFORMW 核心ではない。これも、彼女との付き合いから直感出来てしまう。
					PRINTFORMW 少し影のある表情をした始めたのは何時からだろう？
					PRINTFORMW 巡った%CALLNAME:MASTER%の記憶の中に、一つだけ思い当たる節があった。
					PRINTFORMW %CALLNAME:TARGET%が廃墟に連れ込まれた時。
					PRINTFORMW それ以外に思い当たらず、その一件が何か関係していると%CALLNAME:MASTER%は確信する。
					PRINTFORMW では彼女は、あの時何を思った？
					PRINTFORML [0] 約束を破った事を後悔してる
					PRINTFORML [1] 自分が何なのかを思い出してしまった
					INPUT
					IF RESULT == 0
						PRINTFORML 
						PRINTFORMW 廃墟の一件で約束を破ったのを後悔してるのか、そう%CALLNAME:MASTER%が問うと、
						PRINTFORMW 「………、はい。どうしても考えてしまいます」
						PRINTFORMW 「どうして、あんなにも不用心だったのだろうって」
						PRINTFORMW 「%CNAME("一人称")%がもっと用心深かったら、」
						PRINTFORMW 「あんな事にならずにあなたとの約束を破ることもなかったのに、と……」
						PRINTFORMW はらりと、雫が零れ落ちていた。ぽろぽろと落ちる涙を拭ってやる。
						PRINTFORMW 「ごめんなさい……ごめんなさい……」
						PRINTFORMW 静かに泣く%CALLNAME:TARGET%を抱きしめてやる。
						PRINTFORMW 不可抗力だったとか、そんな優しい言葉は傷になるだけから止めた。
						PRINTFORMW しっかり、最期まで背負うから安心しろ。
						PRINTFORMW 「ごめん、なさい……ごめんなさい……」
						PRINTFORMW 暫く泣き続けた%CALLNAME:TARGET%を介抱してやるとそのまま寝てしまった。
						PRINTFORMW これで少しは良くなると良いのだが……
						CLEARLINE LINECOUNT
						GOTO INPUT_LOOP_LoC5
					ELSE
						PRINTFORML 
						$INPUT_LOOP_LoC6
						PRINTFORMW 自分が殺人者だと思い出してしまったのが原因か？
						PRINTFORMW そう考えて、その考えに少し疑問を持った。
						PRINTFORMW 第一、それなりの頻度で%CALLNAME:MASTER%は殺されている。
						PRINTFORMW それに、あの路地裏での叫びを聞いた時そのままで好きになって良いと言ったはずだ。
						PRINTFORMW だけれども、%CALLNAME:MASTER%は何か釈然としない感覚を感じていた。
						PRINTFORML [0] 思い返す
						PRINTFORML [1] 考える
						INPUT
						IF RESULT == 0
							PRINTFORML 
							PRINTFORMW あの路地裏での叫びで%CALLNAME:TARGET%は何を言ったのか。
							PRINTFORMW そう思い返した時に、記憶が鮮明に蘇っていく。
							PRINTFORML 
							PRINTFORMW そうだ、%CALLNAME:TARGET%は赤ずきんになりたかったんだ。
							PRINTFORMW 赤ずきんの様に、誰からも愛される少女に。
							PRINTFORMW 但是、自分がオオカミだと知っていた%CALLNAME:TARGET%はなれないと分かっていた。
							PRINTFORMW けれど、必死にそう振舞って。振舞い続けていた。
							PRINTFORMW %CALLNAME:MASTER%以外の人を殺したから思い出してしまった。
							PRINTFORMW 彼女はオオカミだと。
							CALL PRINT_SELECT, "言葉を繰り返す/考え続ける"
							IF RESULT == 0
								CALL K44_Languag_of_Choose_Never_Leave
							ELSE
								PRINTFORML 
								PRINTFORMW %CALLNAME:MASTER%は%CALLNAME:TARGET%にとってのオオカミとは何なのかを考えた。
								PRINTFORMW %CALLNAME:TARGET%自身、人を殺す象徴、%CALLNAME:TARGET%の罪の象徴。
								PRINTFORMW 罪には罰。擦れ切れるほど陳腐で在り来たりな言葉。けれども、必ず結びつく言葉。
								PRINTFORMW しかし、%CALLNAME:MASTER%は%CALLNAME:TARGET%に殺人と言う罪に罰を下した記憶がない。
								PRINTFORMW あの時の%CALLNAME:TARGET%に瑕疵を付けるなら不注意以外は%CALLNAME:MASTER%には思いつかない。
								PRINTFORMW 不運、不可抗力、仕方のない事だった。
								PRINTFORMW だが、%CALLNAME:TARGET%はそれを割り切れるのだろうか？心の底から本当にそう思えるのか？
								PRINTFORMW 自分の手で人を殺した事がない%CALLNAME:MASTER%にはその答えを明確に出せない。
								PRINTFORMW 取り繕って隠しても今の%CALLNAME:MASTER%には%CALLNAME:TARGET%が触れれば壊れてしまうほど脆く見える。
								PRINTFORMW 但是、何かを言えるはずだ。
								CALL K44_Languag_of_Choose_Never_Leave
							ENDIF
						ELSE
							PRINTFORML 
							PRINTFORMW すぐそこまで出ているのに大事なところが出てこない。
							PRINTFORMW 言い知れない焦燥感がどんどんとやってくる。
							PRINTFORMW 「%CNAME("二人称")%さん……？」
							PRINTFORMW 何が足りない。
							PRINTFORMW 何を思った。
							PRINTFORMW 何を見た。
							PRINTFORMW 何を感じた。
							PRINTFORML 
							PRINTFORMW 何を考えても、ピンとならない。
							PRINTFORMW %CALLNAME:MASTER%が必死に考えても答えは出せずに時間だけが過ぎる。
							PRINTFORMW 「そうですか……いえ、そうですね」
							PRINTFORMW %CALLNAME:MASTER%が考える様を見て、
							PRINTFORMW %CALLNAME:TARGET%は少し安心するような表情をして泣いている様に笑った。
							PRINTFORMW 「ごめんなさい、%CNAME("一人称")%の為に真剣に考えてくれて」
							PRINTFORMW 「ありがとう。でもこれはわたしが抱えるモノですから大丈夫です」
							PRINTFORMW とても、やりきれない思いが支配する。
							PRINTFORMW 後、一歩だったのに。その一歩で何も聞けないまま終わってしまう。
							PRINTFORMW その後日を重ねても、%CALLNAME:MASTER%は結局分からず。
							PRINTFORMW 日常はただ淡々と過ぎていく。
							PRINTFORMW あの時の答えが出せないまま。
							CLEARLINE LINECOUNT
							GOTO INPUT_LOOP_LoC6
						ENDIF
					ENDIF
				ELSE
					PRINTFORML 
					PRINTFORMW 体調が良くないという言葉を信じて飲み込むことにした。そして、その後に一言謝った。
					PRINTFORMW 「いいえ、隠していた%CNAME("一人称")%が悪いですから、気にしないでください」
					PRINTFORMW 雰囲気が悪いのは気持ちが悪いと考えた%CALLNAME:MASTER%は%CALLNAME:TARGET%を遊びに誘った。
					PRINTFORMW 「……はい、ありがとうございます。どこに出かけましょうか？」
					PRINTFORMW それからしばらく今度の予定を二人で話した……
					CLEARLINE LINECOUNT
					GOTO INPUT_LOOP_LoC4
				ENDIF
			ENDIF
		ELSE
			PRINTFORML 
			PRINTFORMW いやよしておこう。
			PRINTFORMW 誰にだって誤魔化したいことはある。
			PRINTFORMW それを無理に追求するのは流石にデリカシーが無いだろう。
			CLEARLINE LINECOUNT
			GOTO INPUT_LOOP_LoC2
		ENDIF
	ELSE
		PRINTFORML 
		PRINTFORMW ふむ……そうか
		PRINTFORMW どうやら%CALLNAME:MASTER%の気のせいだったようだ。
		PRINTFORMW 少し引っ掛かる事があったが気のせいと言う事にしておこう。
		CLEARLINE LINECOUNT
		GOTO INPUT_LOOP_LoC1
	ENDIF
ELSE
	PRINTFORMW 
	PRINTFORMW おそらく疲れでも溜まっているのだろう。
	PRINTFORMW 今度、気晴らしに遊びに誘ってみようか……
	CLEARLINE LINECOUNT
	GOTO INPUT_LOOP_LoC0
ENDIF
RETURN 1

@K44_Languag_of_Choose_Never_Leave
PRINTFORML 
PRINTFORMW もう一度あの言葉を繰り返すように言う。
PRINTFORML 
HTML_PRINT @"決して<button value='100' title='離さない'>赦さない</button>。"
PRINTFORML 
PRINTFORMW 「……っ！」
PRINTFORMW %CALLNAME:TARGET%が何を選んだなんて%CALLNAME:MASTER%は知らない。
PRINTFORMW 但是、%CALLNAME:MASTER%は既に選んでいた。
PRINTFORMW この少女を決して離さないと。
PRINTFORML 
PRINTFORMW 「わたしはっ！」
PRINTFORMW %CALLNAME:MASTER%の言葉が一線を越えたのか%CALLNAME:TARGET%は声を荒げて怒りを見せた。
PRINTFORMW 「わたしは……、最期にあなたの傍から離れるって決めたっ……」
PRINTFORMW 「それがっ……、わたしに相応しい罰だからっ……」
PRINTFORMW 「どれだけ、あなたを想ってもっ。わたしがした事は消えない……っ」
PRINTFORMW 「オオカミには相応しい、オオカミらしい最期がある……っ！」
PRINTFORMW 「それを……それをっ、邪魔しないでっ！」
PRINTFORML 
PRINTFORMW 知った事ではない。
PRINTFORMW %CALLNAME:TARGET%の怒りを%CALLNAME:MASTER%は切って捨てた。
PRINTFORML 
PRINTFORMW 「えっ……？は……？」
PRINTFORMW %CALLNAME:TARGET%の都合何て知った事か、%CALLNAME:TARGET%はもう%CALLNAME:MASTER%の女だ。
PRINTFORMW 有無を言わせずに%CALLNAME:TARGET%を抱き寄せて接吻を交わす。
PRINTFORMW 「んっ…！？」
PRINTFORML 
PRINTFORML 
PRINTFORMW あの人がまたキスをしてくれました。
PRINTFORMW とても甘くて、優しいキス。
PRINTFORMW 「離れてくださいっ」
PRINTFORMW それに甘えるのが、怖くて拒絶しました。
PRINTFORMW 「わたしはっ、最期にあなたから離れないとダメだからっ」
PRINTFORMW なのに
PRINTFORMW 「んむっ……！？」
PRINTFORMW また、キスをしてくれた。
PRINTFORMW 今度は優しいモノじゃなくて、わたしを征服する様な激しいキスを。
PRINTFORMW それに抗いたくて身体を離そうとしたけれど、抱きしめられて抜け出せない。
PRINTFORMW 何時もあの人を殺しているナイフはすぐそばにある。
PRINTFORMW それに手を伸ばして、無理やり離すことは出来る。
PRINTFORMW わたしは、それを……
$INPUT_LOOP_LoC7
PRINTFORML [0] 手に取る
PRINTFORML [1] 手に取らない
INPUT
IF RESULT == 0
	CALL K44_Languag_of_Choose_Wisteria
ELSE
	CALL K44_Languag_of_Choose_Mistletoe
	PRINTFORML 
	PRINTFORMW 【この結末は間違ってはいないのだろう】
	PRINTFORMW 【しかし、少女が何なのかを選ぶと言う意味だと間違えている】
	PRINTFORMW 【戻ろう。これが最後の選択。少女が一人で立つための】
	CLEARLINE LINECOUNT
	GOTO INPUT_LOOP_LoC7
ENDIF
RETURN 1

@K44_Languag_of_Choose_Mistletoe
PRINTFORML 
PRINTFORMW 手に取れなかった。
PRINTFORMW どんっと押し倒されて腕を上に押さえつけられて抵抗できないようされました。
PRINTFORMW 履いていたパンツをずらされて、前戯もなく挿入れらまれした。
PRINTFORMW 「ぎぃっ、ひぐっ」
PRINTFORMW とても、痛いけれど。痛い事には慣れている所為でどんどん濡れてきます。
PRINTFORMW 膣を抉る様にあの人のソレがわたしの膣をぞりり、ぞりりと
CALL PRINT_STRW, @"「はぐっ_HH_あっ_HH_ひぐっ_HH_」"
PRINTFORMW あの人が突く所は何処もわたしが弱い所で声が勝手に漏れ出てしまいます。
CALL PRINT_STRW, @"「いやっ_HH_やめっ_HH_」"
PRINTFORMW 頭を横に振って言葉で嫌って言っても気持ちが良くて、
PRINTFORMW さっきから軽く何度もイってます。
PRINTFORMW 即便如此ずっと浅い所しか突いてこなくて、物足りなくて。
PRINTFORMW どんどん子宮が下に降りてるのが、分かってしまいます。
PRINTFORMW 物欲し気に子宮口がきゅうきゅうと動いているのも。
PRINTFORMW それを分かっているのかあの人はワザと浅い所しかしてくれません。
PRINTFORMW 我慢が出来なくてワザと腰を動かしてみますが、見抜かれて腰を引かれます。
PRINTFORMW それを咎めるような視線が降り注ぎます。
PRINTFORMW 但是、何も言ってきません。
PRINTFORMW 何事もなかったように抽出が再開されます。
PRINTFORML 欲しい
PRINTFORMW 但是、ずっと浅くて。
PRINTFORML 欲しい
PRINTFORMW 上の気持ちいい所も触らない様にしていて。
PRINTFORML 欲しい
PRINTFORMW 舐めて溶かす様な甘い気持ち良さしか来なくて。
PRINTFORMW 欲しい欲しい欲しい欲しい欲しい
CALL PRINT_STRW, @"「わた、わたしのおまん、こをおくまでっ、ついて、くだ、さぃぃ……_HH_」"
PRINTFORMW 言ってしまいました。
PRINTFORMW 折れて言ってしまいました。
PRINTFORMW 溜めるように腰を確りと引いて、焦らすように入り口でかき混ぜるようされて
CALL PRINT_STRW, @"「は、はやく、くだっ…んひっっ_HH__HH__HH_」"
PRINTFORMW 懇願しておねだりしている途中で一気に奥まで貫かれて、だらしなくイってしまいました。
PRINTFORMW 黄色いおしっこもちょろちょろと出て、透明なおしっこもぷしっと出てしまいました。
PRINTFORMW 但是、頭の中にあったのは多幸感でした。
PRINTFORMW あの人に唯々征服されるのが嬉しくて仕方がなかった。
PRINTFORMW それから刻み込まれるように何度も何度も、奥を貫かれて。
PRINTFORMW あの人のアレが最初より膨らんでいることに気が付きました。
PRINTFORMW 何度もセックスをしているから知っています。
PRINTFORMW 射精の予兆だと。
CALL PRINT_STRW, @"「ほ、しぃ_HH_ぁなたのせーぇき_HH_ほしぃぃ……_HH__HH_」"
PRINTFORMW 欲しくて欲しくて仕方がないから媚びるように言葉を紡ぎます。
PRINTFORMW その言葉に満足したのか今までのドレよりも荒々しく暴力的に貫いて、
CALL PRINT_STRW, @"「あはぁっ_HH__HH__HH_」"
PRINTFORMW 子宮の中の奥まで叩くような勢いで射精してくれました。
PRINTFORMW 最後の一突きでイっているのに、精液が子宮の壁を叩くたびに何度も何度もイってしまいます。
PRINTFORMW 何度も来る絶頂の多幸感に支配されて理解しました。
PRINTFORML 
PRINTFORMW ボクは最初からこの人に従っていれば良かったのですね。
PRINTFORML 
PRINTFORMW それからは何も変わりません。
PRINTFORMW 何時ものように%CNAME("二人称")%さんとお話して、%CNAME("二人称")%さんとえっちして。
PRINTFORMW %CNAME("二人称")%さんに玩具の様に弄ばれて、%CNAME("二人称")%さんに犬の様に服従して。
PRINTFORMW %CNAME("二人称")%さんが望むことだけをします。
PRINTFORMW 何かを考えるのが、そもそも間違いでした。
PRINTFORMW ボクはボクですから。
PRINTFORML 
PRINTFORMW ＩＦ　ＥＮＤ　「花语抉择：寄生木」
RETURN 1

@K44_Languag_of_Choose_Wisteria
PRINTFORML 
PRINTFORMW 手に取った。
PRINTFORMW 手に取って、刺してしまった。
PRINTFORMW 繊維を一本一本引き千切って肉を貫く感触。
PRINTFORMW 夥しいまでの血液と、噎せ返るほどの鉄の匂い。
PRINTFORMW それなのに。
PRINTFORMW それなのに、あの人はキスを止めなかった。
PRINTFORMW なんで？
PRINTFORMW どうして？
PRINTFORMW わたしが混乱しているのに気が付いたのか、キスを止めて
PRINTFORMW 脂汗を掻きながらもあの人は笑って言った。
PRINTFORMW 決して、離さない。と
PRINTFORMW 「わたしだって……っ」
PRINTFORMW 言っちゃダメ。
PRINTFORMW 「わ、たしだって……っ」
PRINTFORMW 言っちゃダメ。
PRINTFORMW 「わた、しだって……っ」
PRINTFORMW 言っちゃダメ。
PRINTFORMW 「あなたと一緒にいたいっ……！」
PRINTFORMW 言っちゃダメなのに、
PRINTFORMW 「いたいよっ……！」
PRINTFORMW 言って、しまいました。
PRINTFORMW 「ホントはずっと一緒にいたいっ、離れたくないっ、ずっとずっとあなたの隣にいたいっ、あなたと一緒にお話ししたいっ、あなたと一緒にご飯を食べたいっ、あなたと一緒に遊びたいっ、あなたと一緒に夜を過ごしたいっ、あなたと一緒に朝を迎えたいっ、でもわたしはわたしがした事を贖わなきゃっ、わたしがわたしの意思であなたから離れないとダメなのにっ、ホントは今この瞬間あなたの傍に居るのもダメなのにっ、それ、なのにっ……」
PRINTFORMW 言葉が雪崩の様に出ます。心が溢れ出します。あの人が好きだと。
PRINTFORMW 「どうして、離してくれないの……？」
PRINTFORML 
PRINTFORML 
PRINTFORMW そう選んだからだ、と%CALLNAME:MASTER%は言った。
PRINTFORMW 「っ……！」
PRINTFORMW %CALLNAME:TARGET%がオオカミでも赤ずきんでも関係がない。
PRINTFORMW %CALLNAME:MASTER%は%CALLNAME:TARGET%を花に例えた。
PRINTFORML 
PRINTFORMW 藤の花に。
PRINTFORML 
PRINTFORMW その上で、%CALLNAME:MASTER%は%CALLNAME:TARGET%に問う。
PRINTFORMW どうしたいと。
;　　　　　お前はどう世界を祝福する？
PRINTFORMW 「わたしは……
CLEARLINE 1
PRINTFORMW 「わたしは……%CNAME("一人称")%は……
CLEARLINE 1
PRINTFORMW 「わたしは……%CNAME("一人称")%は……あなたといたいっ……！」
PRINTFORMW ああ、決して離さない。
PRINTFORMW 「最期のその時も%CNAME("二人称")%さんと一緒にいたいっ……！」
PRINTFORMW 最期も、その先も一緒だ。
PRINTFORMW 「っひっく、あ、あぁぁあぁぁあぁぁっぁぁ……」
PRINTFORMW 泣く%CALLNAME:TARGET%を慈しむ様に抱きしめて撫でる。
PRINTFORML 
PRINTFORML 
PRINTFORML 
PRINTFORMW 「う～……」
PRINTFORMW 散々感情を出して泣きはらした後に落ち着いて冷静になって羞恥を思い出したのか、
PRINTFORMW %CALLNAME:TARGET%は枕に顔を埋めて恨みがましそうに%CALLNAME:MASTER%を見つめてくる。
PRINTFORMW 「%CNAME("二人称")%さんが悪いわけじゃないって分かっています」
PRINTFORMW 「%CNAME("一人称")%が悪いって分かっています」
PRINTFORMW 「けど、う～………」
PRINTFORMW 何て事の無い%CALLNAME:TARGET%は勝手に%CALLNAME:MASTER%の傍から離れると決めていたのだった。
PRINTFORMW しかし、それを%CALLNAME:MASTER%が赦すかと問われればそんな事がない。
PRINTFORMW 強欲で貪欲なのが%CALLNAME:MASTER%だからだ。
PRINTFORMW 「……ええ、はい。知ってましたよ。%CNAME("一人称")%が勝手に不安がっていただけですよーだ」
PRINTFORMW そう拗ねるなと、%CALLNAME:TARGET%の頭を撫でてやる。
PRINTFORMW 「はぁ……わたしが好きになった人があなたで良かった」
PRINTFORMW 呟くつもりが無かった言葉だったのだろう。しまったと言う顔をして、
PRINTFORMW 「今の無し！今の無しにしてください！」
PRINTFORMW 後の祭り、吐いた唾は呑み込めない、覆水盆に返らず。聞かなかったことには出来ない。
PRINTFORMW 「む～！む～！はぁ……」
PRINTFORMW ふくれっ面で抗議の意を唱えていたが諦めた様にため息をついた後に確りと%CALLNAME:MASTER%を見つめて、
PRINTFORMW 「こんなわたしですけれど、あなたと一緒にいさせてください」
PRINTFORMW 「ねっ♪%CNAME("二人称")%さんっ」
PRINTFORMW 花が咲き誇るような笑顔でそう言った。
PRINTFORML 
PRINTFORMW 【オオカミは最期に川で溺れて一人孤独に死ぬ】
PRINTFORMW 【藤の花は小さくても、連なって咲き誇る】
PRINTFORMW 【花を散る瞬間を見るモノは居ないかもしれない】
PRINTFORMW 【それでも、散った花の花弁を見るモノは居る】
PRINTFORMW 【花は散るために咲くのではない】
PRINTFORMW 【自分が居ると示すために咲き誇るのだ】
PRINTFORML 
PRINTFORMW ＴＲＵＥ　ＥＮＤ　「花语抉择：白藤」
IF CEVENT("花语抉择：白藤")
	TALENT:小悪魔 = 1
ENDIF
CALL SET_CEVENT, "花语抉择：白藤"
RETURN 1

;------------------------------------
;殺され演出
;------------------------------------
@K44_KNIFE_DEATH
CFLAG:殺された数 += 1
BASE:MASTER:魂 -= 100
PRINTFORML 
CALL PRINT_STRL, "赤_　　　　　　　　*ｻﾞｸｯ!*"
CALL PRINT_STRL, "赤_　　　　　　　　.　　　　　　　 　 .;.;.;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　　　　.;;鑾㍊;;."
CALL PRINT_STRL, "赤_　　　　　　　　　　　　　 　 　 '滯㌢'"
CALL PRINT_STRL, "赤_　　　　　　　　　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　　　　　　　,　　 　 　 　 　 　 ”"
CALL PRINT_STRL, "赤_　　 　 　 　 ;..;"
CALL PRINT_STRL, "赤_　 　 ''㍉ 絲㍊淡,,.〟"
CALL PRINT_STRL, "赤_　　　 .;鑾鑾徽㏍”"
CALL PRINT_STRL, "赤_　　 ㌦滯攣驂㌘”㌦,;"
CALL PRINT_STRL, "赤_　 　 ㌢”`　　 ”`"
IF RAND:100 == 0
	GETFONT
	CHKFONT "ＭＳ ゴシック"
	SIF RESULT
		SETFONT "ＭＳ ゴシック"
	IF RAND:2 == 0
		PRINTFORML
		CALL PRINT_STRL, "赤_"
		CALL PRINT_STRL, "赤_                                                  ,,,uuzzzzzz.,"
		CALL PRINT_STRL, "赤_                                           ..,,,uuzzzzzzzzuuzwXW"
		CALL PRINT_STRL, "赤_                                   ..,,,,uuzzzzzzzzuzzuzzzzzzzzzX"
		CALL PRINT_STRL, "赤_                           kXUUUUUuuzzzzzzuzzzzzzzuy'"
		CALL PRINT_STRL, "赤_                            kvzzzuzzzuuuzzy'''   yzv,"
		CALL PRINT_STRL, "赤_                             kzuykuzzzy'        zzzzzv,"
		CALL PRINT_STRL, "赤_                              ky' `uzzzx         zzzzzx"
		CALL PRINT_STRL, "赤_                                   zzzzz>        uzuzy"
		CALL PRINT_STRL, "赤_                                   zuzzy         uzzz"
		CALL PRINT_STRL, "赤_                                  zzzwyXkzzu     uzzz       ,zzzz"
		CALL PRINT_STRL, "赤_                                 uzuy  `Xzuvz    uzzu     ,yzzzzzy"
		CALL PRINT_STRL, "赤_                                zzwy     uzzy    uzzz  ,yuzuzuzzy"
		CALL PRINT_STRL, "赤_                              ,uwXy     yvvy     uzzu,yzuzzzy"
		CALL PRINT_STRL, "赤_                             ,kyXzx,   yzuy      zuzuykky"
		CALL PRINT_STRL, "赤_                           ,yy'  `vzzz,zuy       zzzu'"
		CALL PRINT_STRL, "赤_                         ,y'        ,zuzy        uzzX"
		CALL PRINT_STRL, "赤_                                   zzuzy         zuzX              z,"
		CALL PRINT_STRL, "赤_                                 ,zzzy           zzzw              Xzu,"
		CALL PRINT_STRL, "赤_                                ,zuzy            zzzXk            ,uzzz,"
		CALL PRINT_STRL, "赤_                              ,zzwy              kzuzzXx,,,,,,,,uvzzzuzzw"
		CALL PRINT_STRL, "赤_                            ,zzy'                `vzzzzuuzzzzuuzzzzuuzuXW"
		CALL PRINT_STRL, "赤_                          ,zy'                    `vkXuzzzzzzzzzuuwwXWXy"
		CALL PRINT_STRL, "赤_"
		CALL PRINT_STRL, "赤_                        DDDDD     EEEEEE       A       TTTTTTT   H    H"
		CALL PRINT_STRL, "赤_                         D   D    E           A A         T      H    H"
		CALL PRINT_STRL, "赤_                         D    D   EEEEE      AAAAA        T      HHHHHH"
		CALL PRINT_STRL, "赤_                         D   D    E         A     A       T      H    H"
		CALL PRINT_STRL, "赤_                        DDDDD     EEEEEE   A       A      T      H    H"
		CALL PRINT_STRL, "白_                ┌──┐                                         ┌──┐"
		CALL PRINT_STRL, "白_                │Ｌ１│そのまま死ぬ                             │Ｒ１│回生する"
		CALL PRINT_STRL, "白_                └──┘                                         └──┘"
		PRINTFORML 
	ELSE
		PRINTFORML
		CALL PRINT_STRL, "白_ ------------------------------------------------------------------------------------------------"
		CALL PRINT_STRL, "白_ ┌─────────────────┐"
		CALL PRINT_STRL, "白_ │ 死 トロフィーを獲得しました！ p  │"
		IF CFLAG:殺された数 <= 9
			CALL PRINT_STRL,@"白_ │ 亡 %CALLNAME:TARGET%に{CFLAG:殺された数}回殺された         ∽  │"
		ELSEIF CFLAG:殺された数 <= 99
			CALL PRINT_STRL,@"白_ │ 亡 %CALLNAME:TARGET%に{CFLAG:殺された数}回殺された        ∽  │"
		ELSEIF CFLAG:殺された数 <= 999
			CALL PRINT_STRL,@"白_ │ 亡 %CALLNAME:TARGET%に{CFLAG:殺された数}回殺された       ∽  │"
		ELSEIF CFLAG:殺された数 >= 1000
			CALL PRINT_STRL,@"白_ │ 亡 %CALLNAME:TARGET%に無数に殺された      ∽  │"
		ENDIF
		CALL PRINT_STRL, "白_ └─────────────────┘"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "暗灰色_------------------------------------------------------------------------------------------------"
		CALL PRINT_STRL, "灰色_================================================================================================"
		CALL PRINT_STRL, "赤_                            Y   Y  OOOO  U   U   DDDD  III EEEE DDDD "
		CALL PRINT_STRL, "赤_                             Y Y  O    O U   U    D  D  I  E     D  D "
		CALL PRINT_STRL, "赤_                              Y   O    O U   U    D   D I  EEE   D   D"
		CALL PRINT_STRL, "赤_                              Y   O    O U   U    D  D  I  E     D  D "
		CALL PRINT_STRL, "赤_                              Y    OOOO   UUU    DDDD  III EEEE DDDD "
		CALL PRINT_STRL, "灰色_================================================================================================"
		CALL PRINT_STRL, "暗灰色_------------------------------------------------------------------------------------------------"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_"
		CALL PRINT_STRL, "白_------------------------------------------------------------------------------------------------"
		PRINTFORML
	ENDIF
	SETFONT RESULTS
ENDIF
RETURN 1
