;-------------------------------------------------
;アイテム出現条件
;-------------------------------------------------
@SALEITEM_CHECK
#DIM LCOUNT
#DIM NEXT_LINE
#DIMS NAME_ITEM

CALL SETFLAG, "道具フラグ調整"

DRAWLINE
IF GETBIT(FLAG:ITEM_SHOP, 0) == 0
	PRINTL □ 大人的玩具 □
ELSE
	CALL PRINT_STR, "□ 大人的玩具 … _黄色_本店会为老顾客售出更加舒服的良品_ □_L_"
ENDIF
NEXT_LINE = 0
FOR LCOUNT, 0, 30
	SIF ITEMNAME:LCOUNT == ""
		CONTINUE
	IF ITEMSALES:LCOUNT == 0
		SETCOLOR DEF_COLOR("灰色")
	ELSEIF ITEM:LCOUNT
		SETCOLOR DEF_COLOR("水色")
	ENDIF
	IF ITEM:LCOUNT
		NAME_ITEM = %ITEMNAME:LCOUNT% +{ITEM:LCOUNT}
	ELSE
		NAME_ITEM = %ITEMNAME:LCOUNT%
	ENDIF

	PRINTFORMLC  [{LCOUNT, 2}]%TEXT_LJ(NAME_ITEM, 16)%%TEXT_RJ(MONEY_C(ITEMPRICE:LCOUNT), 9)%

	RESETCOLOR

	NEXT_LINE += 1
	SIF NEXT_LINE%3 == 0
		PRINTL 
NEXT
SIF NEXT_LINE%3
	PRINTL 

PRINTL 
IF GETBIT(FLAG:ITEM_SHOP, 1) == 0
	PRINTL □ 調教道具 □
ELSE
	CALL PRINT_STR, "□ 調教道具 … _黄色_使用高級品的话会在減少不快的情况下更安心的享受PLAY呦_ □_L_"
ENDIF
NEXT_LINE = 0
FOR LCOUNT, 30, 50
	SIF ITEMNAME:LCOUNT == ""
		CONTINUE
	IF ITEMSALES:LCOUNT == 0
		SETCOLOR DEF_COLOR("灰色")
	ELSEIF ITEM:LCOUNT
		SETCOLOR DEF_COLOR("水色")
	ENDIF

	IF ITEM:LCOUNT
		NAME_ITEM = %ITEMNAME:LCOUNT% +{ITEM:LCOUNT}
	ELSE
		NAME_ITEM = %ITEMNAME:LCOUNT%
	ENDIF

	PRINTFORMLC  [{LCOUNT, 2}]%TEXT_LJ(NAME_ITEM, 16)%%TEXT_RJ(MONEY_C(ITEMPRICE:LCOUNT), 9)%

	RESETCOLOR

	NEXT_LINE += 1
	SIF NEXT_LINE%3 == 0
		PRINTL 
NEXT
SIF NEXT_LINE%3
	PRINTL 

PRINTL 
PRINTL □ 消耗品 … 以５個为一个套装进行販售 □
NEXT_LINE = 0
FOR LCOUNT, 50, 60
	SIF ITEMNAME:LCOUNT == ""
		CONTINUE
	IF ITEMSALES:LCOUNT == 0
		SETCOLOR DEF_COLOR("灰色")
	ELSEIF ITEM:LCOUNT
		SETCOLOR DEF_COLOR("水色")
	ENDIF

	NAME_ITEM = %ITEMNAME:LCOUNT%×５

	PRINTFORMLC  [{LCOUNT, 2}]%TEXT_LJ(NAME_ITEM, 16)%%TEXT_RJ(MONEY_C(ITEMPRICE:LCOUNT*5), 9)%

	RESETCOLOR

	NEXT_LINE += 1
	SIF NEXT_LINE%3 == 0
		PRINTL 
NEXT
SIF NEXT_LINE%3
	PRINTL 

@EVENT_SHOP
;起きうるイベントの判定に使う
#DIMS EVENT_TABLE
#DIM CHOICE
REDRAW 0
;買い物中フラグON
SETBIT FLAG:状況判定, 21

;寝てたら連れて行かない
IF CFLAG:睡眠

;すでに同伴して買い物した場合も連れてかない
ELSEIF CHOSE_DEVENT("购物")
	PRINTL 
	PRINTFORMW 刚刚才带%CALLNAME:TARGET%去过、这次就一个人去买吧。
;それ以外なら連れていける
ELSE
	;買い物同伴中フラグON（続く選択肢で"いいえ"を選ぶとOFFになる）
	SETBIT FLAG:状況判定, 22

	IF CHECK_CLO("裸体") || CHECK_CLO("泳装姿") || CHECK_CLO("体操服姿") || CHECK_CLO("内衣姿") || CHECK_CLO("胖次が見える格好")
		IF COND("学園")
			IF COND("学生")
				EVENT_TABLE = 是(换成制服)/否/
			ELSE
				EVENT_TABLE = 是(换成学園的衣装)/否/
			ENDIF
		ELSE
			EVENT_TABLE = 是(换成便服)/否/
		ENDIF
		IF CHECK_CLO("裸体") && COND("認識阻害可能", MASTER)
			PRINTFORML …她現在穿着不适合外出的装扮、要和%CALLNAME:TARGET%一起去吗？
			SIF ABL:露出癖 >= 9
				EVENT_TABLE += "保持现在的装扮一起去/"
		ELSEIF CHECK_CLO("泳装姿")
			PRINTFORML 她現在穿着泳装、要和%CALLNAME:TARGET%一起去吗？
			SIF ABL:露出癖 >= 3 || TALENT:不知羞恥
				EVENT_TABLE += "保持现在的装扮一起去/"
		ELSEIF CHECK_CLO("体操服姿")
			PRINTFORML 她現在穿着体操服、要和%CALLNAME:TARGET%一起去吗？
			EVENT_TABLE += "保持现在的装扮一起去/"
		ELSEIF CHECK_CLO("内衣姿")
			PRINTFORML 她現在只穿着内衣、要和%CALLNAME:TARGET%一起去吗？
			SIF ABL:露出癖 >= 7
				EVENT_TABLE += "保持现在的装扮一起去/"
		ELSEIF CHECK_CLO("胖次が見える格好")
			PRINTFORML 她現在只穿着内裤、要和%CALLNAME:TARGET%一起去吗？
			SIF ABL:露出癖 >= 5
				EVENT_TABLE += "保持现在的装扮一起去/"
		ENDIF
	;ELSEIF CHECK_CLO("ノーパン") && COND("パンツ形状確認") && (CSVCSTR(NO:TARGET, GETNUM(CSTR, "パンツ") ) != "" || CFLAG:パンツ没収)
	;	PRINTFORML 現在は\@ CHECK_SKIRT("ミニ") ? ミニ # \@スカートにも関わらずノーパンのようですが、%CALLNAME:TARGET%も連れていきますか？
	;	IF CFLAG:パンツ没収
	;		EVENT_TABLE = はい/いいえ/没収したパンツを穿かせて連れていく/
	;	ELSE
	;		EVENT_TABLE = はい/いいえ/パンツを穿かせて連れていく/
	;	ENDIF
	ELSE
		PRINTFORML 要和%CALLNAME:TARGET%一起去吗？
		EVENT_TABLE = 是/否/
		SIF COND("胖次没収実行可能") && COND("合意：胖次交易")
			EVENT_TABLE += "没収胖次带过去/"
		;2020/1/31　マリーちゃんの中の人加筆　
		SIF COND("合意：露出PLAY") && ABL:露出癖 >= 7 && EQUIP:胖次
			EVENT_TABLE += "只穿内衣带过去/"
		SIF COND("合意：露出PLAY") && COND("合意：全裸化") && ABL:露出癖 >= 9 && COND("認識阻害可能", MASTER)
			EVENT_TABLE += "全裸着带过去/"
	ENDIF

	VARSET LOCALS
	SPLIT EVENT_TABLE, "/", LOCALS
	CALL PRINT_SELECT, EVENT_TABLE
	CHOICE = RESULT

	SELECTCASE LOCALS:CHOICE
	CASE "否"
		CALL KOJO_SHOP, "目送"
		;買い物同伴中フラグOFF
		CLEARBIT FLAG:状況判定, 22
	CASE "没収胖次带过去"
		PRINTL 
		PRINTFORMW %CALLNAME:MASTER%在外出之際、要求%CALLNAME:TARGET%交出胖次之后再出发。
		CALL KOJO_SHOP, "没収胖次出発"

		PRINTL 
		IF EQUIP:胖次
			SIF COND("胖次形状確認") == 0
				CALL TEXT_PANTU_CHECK_SHORT
			CALL SETFLAG, "胖次没収", TARGET
			;買い物パンツ没収中フラグON
			SETBIT FLAG:状況判定, 23
		ELSE
			CALL TEXT_PANTU_CHECK, SKIRT(TARGET)
		ENDIF
		PRINTL 
	CASE "只穿内衣带过去"
		PRINTL 
		PRINTFORMW %CALLNAME:MASTER%在进店之前、要求%CALLNAME:TARGET%脱到只穿内衣。
		CALL SETFLAG, "薄着化：内衣姿", TARGET
		;買い物下着姿フラグON
		SETBIT FLAG:状況判定, 27
	CASE "全裸着带过去"
		PRINTL 
		PRINTFORMW %CALLNAME:MASTER%在进店之前、要求%CALLNAME:TARGET%脱到全裸。
		CALL SETFLAG, "全裸化", TARGET
		;買い物全裸フラグON
		SETBIT FLAG:状況判定, 28
	CASE "穿着胖次一起去", "穿上没收的胖次一起去"
		CALL KOJO_SHOP, "胖次穿かせて出発"
		IF CFLAG:胖次没収
			CALL SETFLAG, "胖次返却", TARGET
			;買い物パンツ返却中フラグON
			SETBIT FLAG:状況判定, 24
		ELSE
			CALL SET_PANTIES, "自分の内衣"
		ENDIF
	CASE "保持现在的装扮一起去"
		CALL KOJO_SHOP, "保持现在的装扮出発"
	;"はい"はココ。変な格好なら着替えます
	CASEELSE
		CALL KOJO_SHOP, "一緒に出発"
		IF CHECK_CLO("裸体") || CHECK_CLO("泳装姿") || CHECK_CLO("体操服姿") || CHECK_CLO("内衣姿") || CHECK_CLO("胖次が見える格好")
			IF COND("学園")
				CALL SET_COORDINATE, "制服"
			ELSE
				CALL SET_COORDINATE, "外出着"
			ENDIF
			PRINTFORMW %CALLNAME:TARGET%快速地换好衣服、跟着%CALLNAME:MASTER%一起来了。
		ENDIF
	ENDSELECT
ENDIF
PRINTL 
IF COND("買い物同伴中")
	;同伴して買い物したフラグON
	CSTR:DAILYCOM履歴 += "＠购物/"

	IF CHECK_CLO("裸体")
		PRINTFORML 「欢迎！？ 光……临……？」
		PRINTFORMW 店員被%CALLNAME:TARGET%的様子吓了一跳、什么话都没有说
	ELSEIF CHECK_CLO("泳装姿") || CHECK_CLO("体操服姿")
		PRINTFORML 「欢迎光临ー」
		PRINTFORMW 店員瞥了一眼%CALLNAME:TARGET%、什么话都没有说
	ELSEIF CHECK_CLO("内衣姿") || CHECK_CLO("胖次が見える格好")
		PRINTFORML 「欢迎光临ー」
		PRINTFORMW 店員瞥了%CALLNAME:TARGET%好几眼、什么话都没有说
	ELSEIF CHECK_SKIRT("迷你")
		PRINTFORML 「欢迎光临ー」
		PRINTFORMW 店員靠近穿着迷你裙的%CALLNAME:TARGET%、对着大腿看了好几眼、什么话都没有说
	ELSE
		PRINTFORMW 「欢迎光临ー」
	ENDIF
ELSE
	PRINTFORMW 「欢迎光临ー」
ENDIF
CALL EVENT_SHOP_BUY, MASTER

@EVENT_SHOP_BUY, ARG
#DIM MEMO_LINECOUNT
#DIM MEMO_LINECOUNT2
#DIM EXIST_KOJO
#DIM CHOICE

MEMO_LINECOUNT = LINECOUNT
PRINTL 
DRAWLINE

SELECTCASE ARG
CASE MASTER
	PRINTFORML 購入者为%CALLNAME:ARG%　(所持金：%MONEY_C(MONEY)%)
	CALL PRINT_STRL, "要買哪个呢？已持有１个以上的会变成_水色_这个颜色_"
CASE TARGET
	IF CHECK_CLO("裸体")
		CALL PRINT_STR, @"購入者为%CALLNAME:TARGET%_爱心粉紅_(裸体)__L"
	ELSEIF CHECK_CLO("泳装姿")
		CALL PRINT_STR, @"購入者为%CALLNAME:TARGET%_黄色_(泳装姿)__L"
	ELSEIF CHECK_CLO("体操服姿")
		CALL PRINT_STR, @"購入者为%CALLNAME:TARGET%_黄色_(体操服姿)__L"
	ELSEIF CHECK_CLO("内衣姿")
		CALL PRINT_STR, @"購入者为%CALLNAME:TARGET%_黄色_(内衣姿)__L"
	ELSEIF CHECK_CLO("没穿内褲") && COND("胖次形状確認")
		CALL PRINT_STR, @"購入者为%CALLNAME:TARGET%_黄色_(没穿内褲)__L"
	ELSE
		PRINTFORML 購入者为%CALLNAME:TARGET%
	ENDIF
	PRINTFORML 要買哪个呢？　(所持金：%MONEY_C(MONEY)%)
ENDSELECT

CALL SALEITEM_CHECK
PRINTL 
CALL SHOW_ITEM_HAVE
DRAWLINE

IF COND("買い物同伴中") && COND("買い物同伴相手が購入") == 0
	IF ARG != TARGET
		PRINTFORML [100]让%CALLNAME:TARGET%来结账（但是、每个時間段只能进行一次！）
	ELSE
		PRINTFORML [100]果然还是自己来结账吧
	ENDIF
ENDIF

;2020/1/31　マリーちゃんの中の人加筆　
EXIST_KOJO = 0
MEMO_LINECOUNT2 = LINECOUNT
TRYCALLFORM KOJO_SHOP_K{NO:TARGET}, "询问有什么想要的东西"
SIF LINECOUNT > MEMO_LINECOUNT2
	EXIST_KOJO = 1
CLEARLINE LINECOUNT - MEMO_LINECOUNT2

IF EXIST_KOJO && COND("買い物同伴中") && COND("询问有什么想买的东西") == 0
	PRINTFORML [101]询问%CALLNAME:TARGET%有没有什么想要的东西（但是、每个時間段只能进行一次！）
ENDIF

;何を買ったか、管理するのが面倒なので未実装
;IF COND("買い物同伴中") && COND("購入物をお試し") == 0
;	PRINTFORML [101]%CALLNAME:TARGET%に買った物を使ってもらう（ただし、各時間帯に１回だけ！）
;ENDIF
DRAWLINE

IF CEVENT("槞彁：バイト探し", MASTER) && !CEVENT("槞彁：就労ビザ取得命令", MASTER)
	SIF COND("買い物同伴中") && COND("買い物同伴相手が購入") == 0
		CLEARLINE 1;DRAWLINEを削除しますわよ(これ絶対もっといい方法有るでしょ)
	HTML_PRINT @"<button value='200'><p align='left'><font color = 'Yellow'><b>[200] 听说正在招打工的</b></font></p></button>"
	DRAWLINE
ENDIF

PRINTFORML [999] 从店里出去

CALL INPUT_SELECT, 100, 100, 101, 200, 999

CHOICE = RESULT

SELECTCASE CHOICE
CASE 999
	IF COND("買い物同伴中")
		IF CHECK_CLO("裸体") || CHECK_CLO("内衣姿")
			PRINTFORMW 「非常感谢。欢迎您下次光临」
		ELSEIF CHECK_SKIRT("迷你")
			PRINTFORML 「谢谢惠顾ー」
			PRINTFORMW 店員深深鞠着躬目送%CALLNAME:TARGET%离開了。
		ELSE
			PRINTFORMW 「谢谢惠顾ー」
		ENDIF
	ELSE
		PRINTFORMW 「谢谢惠顾ー」
	ENDIF
	IF COND("買い物同伴中")
		IF COND("買い物全裸中")
			PRINTL 
			PRINTFORMW 走出店的%CALLNAME:MASTER%把%CALLNAME:TARGET%穿着的东西还了回去。
			CALL SET_MEMO_DRESS, "脱掉的衣服一览", TARGET
		ELSEIF COND("買い物内衣姿")
			PRINTL 
			PRINTFORMW 走出店的%CALLNAME:MASTER%把%CALLNAME:TARGET%穿着的东西还了回去。
			CALL SET_MEMO_DRESS, "脱掉的衣服一览", TARGET
			CFLAG:薄着变成了 = 0
		ELSEIF COND("買い物胖次没収中")
			PRINTL 
			PRINTFORMW 从店里出来的%CALLNAME:MASTER%把胖次还给了%CALLNAME:TARGET%。
			CALL SETFLAG, "胖次返却", TARGET
		ENDIF
		CALL KOJO_SHOP, "购物終了"
		;何か購入したなら記録
		IF COND("買上品数") > 0
			STR:日常イベント名 = 買東西
			CALL SET_PREV_DAILYCOM
		ENDIF
	ENDIF
	REDRAW 1
	RETURN 0
CASE 200
	IF CEVENT("槞彁：バイト探し", MASTER) && !CEVENT("槞彁：就労ビザ取得命令", MASTER)
		;ここに槞彁の就労ビザ発行命令
		IF COND("買い物同伴中") && NO:TARGET == 15
			;PRINTFORMW 槞彁同伴時メッセージ
			IF CEVENT("槞彁：槞彁を連れてきて", MASTER) == 0
				;初手で槞彁を連れて店に来た場合
				PRINTFORMW 「欢迎光临ー」
				PRINTFORMW 「ん？アルバイト欲しくないかだって？」
				PRINTFORMW 「そうだねぇ、ちょっとそろそろアルバイトの一人でも雇っても良いかもしれんねぇ」
				PRINTFORMW 「じゃあ...って、もう来てるのか、話が早いね」
				PRINTL 
				PRINTFORMW 「はは、安心しなよこの子を襲ったりなんて不会」
				PRINTFORMW 槞彁は你の後ろに隠れて様子を見ている
				PRINTFORMW 「おや、お嬢酱悪魔かい？珍しいねぇ、職業悪魔として来たわけじゃないのかい？」
				PRINTFORMW 店員はやけに悪魔の事について詳しい...
				PRINTFORMW 「このお店には色々な人が来るからねぇ、殺人鬼が来ようが創造主が来ようが気にしなくなっちゃったよ。ハハハ」
				PRINTFORMW 「ところで...職業悪魔じゃないということは就労ビザは酱と発行してもらってるかい？」

				CALL CALL_LIB("アルバイト探しイベント：店員との会話")
			ELSE
				;連れてこいと言われたので連れてきた
				PRINTFORMW 「お、その子が話に出てたアルバイト希望の子かい？」
				PRINTFORMW 「はは、安心しなよこの子を襲ったりなんて不会」
				PRINTFORMW 槞彁は你の後ろに隠れて様子を見ている
				PRINTFORMW 「おや、お嬢酱悪魔かい？珍しいねぇ、職業悪魔として来たわけじゃないのかい？」
				PRINTFORMW 店員はやけに悪魔の事について詳しい...
				PRINTFORMW 「このお店には色々な人が来るからねぇ、殺人鬼が来ようが創造主が来ようが気にしなくなっちゃったよ。ハハハ」
				PRINTFORMW 「ところで...職業悪魔じゃないということは就労ビザは酱と発行してもらってるかい？」
				
				CALL CALL_LIB("アルバイト探しイベント：店員との会話")
			ENDIF
			CALL SET_CEVENT, "槞彁：就労ビザ取得命令", MASTER
		ELSEIF CEVENT("槞彁：槞彁を連れてきて", MASTER)
			PRINTFORMW 「アルバイトの子、楽しみにしてるよ」
			;HTML_PRINT @"<p align='left'><font color = 'Yellow'>%CNAME("槞彁")%を連れてこのお店に来よう...</font></p>"
			HTML_PRINT @"<p align='left'><font color = 'Yellow'>%NAME:FINDCHARA(NO, 15)%を連れてこのお店に来よう...</font></p>";槞彁をさん付けしたくないのでこちらを使うわよ
			WAIT
		ELSE
			PRINTFORMW 「欢迎光临ー」
			PRINTFORMW 「ん？アルバイト欲しくないかだって？」
			PRINTFORMW 「そうだねぇ、ちょっとそろそろアルバイトの一人でも雇っても良いかもしれんねぇ」
			PRINTFORMW 「じゃあ、今度アルバイト希望の子連れきてよ」
			;HTML_PRINT @"<p align='left'><font color = 'Yellow'>%CNAME("槞彁")%を連れてこのお店に来よう...</font></p>"
			HTML_PRINT @"<p align='left'><font color = 'Yellow'>%NAME:FINDCHARA(NO, 15)%を連れてこのお店に来よう...</font></p>";槞彁をさん付けしたくないのでこちらを使うわよ
			WAIT
			CALL SET_CEVENT, "槞彁：槞彁を連れてきて", MASTER
		ENDIF
	ENDIF
CASE 101
	IF COND("買い物同伴中") && COND("询问有什么想买的东西") == 0
		CALL KOJO_SHOP, "询问有什么想要的东西"
		CLEARLINE 1
		WAIT
		;パートナーに欲しい物を聞けるのは一回だけ
		;買い物同伴相手の欲しい物フラグON
		SETBIT FLAG:状況判定, 29
	ENDIF
CASE 100
	IF COND("買い物同伴中") && COND("買い物同伴相手が購入") == 0
		IF ARG != TARGET
			ARG = TARGET
			CALL KOJO_SHOP, "会計交代"
		ELSE
			ARG = MASTER
		ENDIF
	ENDIF
	CLEARLINE LINECOUNT - MEMO_LINECOUNT
CASEELSE
	;売ってない番号を選択したらやり直し
	IF ITEMSALES:CHOICE == 0
		SELECTCASE ITEMNAME:CHOICE
		CASE "極太振動棒", "腕型振動棒", "馬型振動棒"
			SIF ITEM:振動棒套装 == 0
				PRINTFORMW 只有购买了『振動棒套装』的客人才可以购买大型振动棒。
		ENDSELECT

		CLEARLINE LINECOUNT - MEMO_LINECOUNT
	ELSE
		;今買った物
		STR:購入道具 = %ITEMNAME:CHOICE%

		IF ARG == TARGET
			CALL KOJO_SHOP, "商品購入"
			;何を買わされたかフラグON
			CALL SET_SEVENT, ITEMNAME:CHOICE
		ENDIF

		SELECTCASE CHOICE
		;大人のおもちゃ
		CASE 0 TO 29
			IF ITEM:CHOICE
				PRINTFORMW ＜購入了%ITEMNAME:CHOICE% +{ITEM:CHOICE}＞
			ELSE
				PRINTFORMW ＜購入了%ITEMNAME:CHOICE%＞

				;補足があるならここで
				SELECTCASE ITEMNAME:CHOICE
				CASE "振動棒套装"
					PRINTFORMW 普通尺寸的、稍微大一点的、双頭振動棒的三个一套的套装。
				CASE "拘束具"
					PRINTFORMW 各種拘束道具、縄、口枷、眼罩的组合套装。
				CASE "尿道探针"
					PRINTFORML □ 補足 □---------------------------------------------------------------------
					PRINTFORM 在對尿道進行擴張的時候、如果具有
					CALL PRINT_COLORTEXT, "[性器拡張知識]", DEF_COLOR("黄色")
					PRINTFORM 或
					CALL PRINT_COLORTEXT, "[拡張適性]", DEF_COLOR("黄色")
					PRINTFORML 的话会更容易出現進展。
					PRINTFORM 尽管并不是对拡張的容易度有影響的素質、
					CALL PRINT_COLORTEXT, "[倒錯的]", DEF_COLOR("黄色")
					PRINTFORML 有这些的话就可以抑制反感
					PRINTFORML 
					PRINTFORML 尿道的快感是、初期的時候疼痛非常强烈而没有快感
					PRINTFORML 随着経験的累积、痛苦会減少、习惯被玩弄尿道之后就没问题了
					PRINTFORM 积累了因为玩弄尿道而絶頂的経験之后、
					CALL PRINT_COLORTEXT, "[尿道性感]", DEF_COLOR("黄色")
					PRINTFORML 就可以觉醒出来了
					CALL PRINT_COLORTEXT, "[尿道性感]", DEF_COLOR("黄色")
					PRINTFORMW 没有的话就基本上不怎么能变舒服、所以请尽早取得
				ENDSELECT
			ENDIF

			ITEM:CHOICE += 1
			MONEY -= ITEMPRICE:CHOICE

			IF GETBIT(FLAG:ITEM_SHOP, 0) == 0
				PRINTL 
				PRINTFORMW ……店員从里面拿出了贴着『%ITEMNAME:CHOICE% +{ITEM:CHOICE}』的商品摆在了同一个位置。
				PRINTFORMW 看起来、越买就越会出现质量更好的东西的様子(会把不需要的东西替换掉)。
				CALL PRINT_STR, "詳细地问了一下、_黄色_+X的玩具大概会增加X成的舒服程度_的様子。_W_"
				SETBIT FLAG:ITEM_SHOP, 0
			ENDIF
		;調教道具
		CASE 30 TO 49
			IF ITEM:CHOICE
				PRINTFORMW ＜購入了%ITEMNAME:CHOICE% +{ITEM:CHOICE}＞
			ELSE
				PRINTFORMW ＜購入了%ITEMNAME:CHOICE%＞
			ENDIF

			ITEM:CHOICE += 1
			MONEY -= ITEMPRICE:CHOICE

			IF GETBIT(FLAG:ITEM_SHOP, 1) == 0
				PRINTL 
				PRINTFORMW ……店員从里面拿出了贴着『%ITEMNAME:CHOICE% +{ITEM:CHOICE}』的商品摆在了同一个位置。
				PRINTFORMW 看起来、越买就越会出现质量更好的东西的様子(会把不需要的东西替换掉)。
				CALL PRINT_STR, "詳细地问了一下、_黄色_+X的調教道具大概会減少X値左右的反感_的様子。_W_"
				SETBIT FLAG:ITEM_SHOP, 1
			ENDIF
		;ローションなど、消耗品
		CASE 50 TO 59
			PRINTFORMW ＜購入了５个%ITEMNAME:CHOICE%＞

			ITEM:CHOICE += 5
			MONEY -= ITEMPRICE:CHOICE * 5
		;使用アイテム、素質アイテム
		CASEELSE
			CALL USE_ITEM
		ENDSELECT

		IF COND("買い物同伴中")
			;今買った物を記録
			SIF CSTR:SHOP_BUY履歴 == ""
				CSTR:SHOP_BUY履歴 = /
			CSTR:SHOP_BUY履歴 = %CSTR:SHOP_BUY履歴%%ITEMNAME:CHOICE%\/

			;キャラ同伴なら反応あったり
			SIF ARG != TARGET
				CALL KOJO_SHOP, "店内待機"

			;パートナーが買ってくれるのは一回だけ
			IF ARG == TARGET
				PRINTL 
				PRINTFORMW 接下来就是%CALLNAME:MASTER%来继续买东西了。
				ARG = MASTER
				;買い物同伴相手が購入フラグON
				SETBIT FLAG:状況判定, 25
			ENDIF
		ENDIF
	ENDIF
ENDSELECT

RESTART

;-------------------------------------------------
;複数個所持可能なアイテムについて、同時購入個数を選択
;-------------------------------------------------
@BUY_PLURAL
#DIM MEMO

;買う前の所持数を記録
MEMO = ITEM:BOUGHT

DRAWLINE
CALL SHOW_BUY_ITEM, BOUGHT

;１０個以上買った？
IF ITEM:BOUGHT - MEMO >= 10
	LOCAL = (ITEM:BOUGHT - MEMO)/10
	PRINTFORMW 作为买了很多的赠品、道具屋的主人额外送了{LOCAL}個
	ITEM:BOUGHT += LOCAL
ENDIF
PRINTL 

;-------------------------------------------------
;所持金に対応して、ITEM:ARGを何個買うかの選択肢を表示する関数
;-------------------------------------------------
@SHOW_BUY_ITEM, ARG
#DIM LCOUNT
#DIM MEMO_MAX

;買える最大個数
MEMO_MAX = MIN(99 - ITEM:ARG, MONEY/ITEMPRICE:ARG)

PRINTFORML 要买多少%ITEMNAME:ARG%？　(持有数：{ITEM:ARG}　%MONEY_C(MONEY)%)
PRINTFORML （直接输入购买数量即可。0or999的话返回）

FOR LCOUNT, 1, MEMO_MAX+1
	SIF MONEY < ITEMPRICE:ARG * LCOUNT
		BREAK
	SELECTCASE LCOUNT
	CASE IS <= 5, 10, 20, 50, MEMO_MAX
		PRINTFORML  [{LCOUNT, 2}] {LCOUNT, 2}個　(%MONEY_C(ITEMPRICE:ARG * LCOUNT)%)
	ENDSELECT
NEXT
PRINTFORML [999] 返回

$INPUT_LOOP
INPUT

IF RESULT == 0 || RESULT == 999
	RETURN 0
ELSEIF ITEMPRICE:ARG * RESULT > MONEY
	PRINTL 钱不够
	GOTO INPUT_LOOP
ELSEIF RESULT > MEMO_MAX
	PRINTL 不能持有那么多
	GOTO INPUT_LOOP
ELSEIF RESULT >= 1 && RESULT <= MEMO_MAX
	PRINTFORMW ＜%ITEMNAME:ARG%を\@ RESULT > 1 ? {RESULT}個  # \@購入しました＞
ELSE
	GOTO INPUT_LOOP
ENDIF

ITEM:ARG += RESULT
MONEY -= ITEMPRICE:ARG * RESULT

RETURN RESULT

;-------------------------------------------------
;アイテム使用
;-------------------------------------------------
@USE_ITEM, ARGS
#DIM LCOUNT
#DIM CHOICE, 2
#DIM MEMO, 10

DRAWLINE
;アイテムの効果を表示する。
SELECTCASE ITEMNAME:BOUGHT
CASE "脱毛剤"
	PRINTFORML %ITEMNAME:BOUGHT%(%MONEY_C(ITEMPRICE:BOUGHT)%):阴部\@ CONFIG("陰毛") ? や%TEXTS("腋")% # \@の毛を急速に生やします
	PRINTFORML 要对誰使用？　(%MONEY_C(MONEY)%)
CASE "生毛薬"
	PRINTFORML %ITEMNAME:BOUGHT%(%MONEY_C(ITEMPRICE:BOUGHT)%):阴部\@ CONFIG("陰毛") ? や%TEXTS("腋")% # \@の毛を脱毛します
	PRINTFORML 要对誰使用？　(%MONEY_C(MONEY)%)
CASE "避妊の護符"
	PRINTFORML %ITEMNAME:BOUGHT%(%MONEY_C(ITEMPRICE:BOUGHT)%):附加了避妊の魔法的Ｔ字型小護符
	SETCOLOR DEF_COLOR("爱心粉紅")
	PRINTFORML ※永久有效、放置于子宮之中※
	RESETCOLOR
	PRINTFORML 如果选择了已经装备了的角色的话、護符会被破坏
	PRINTFORML 要对誰使用？　(%MONEY_C(MONEY)%)
ENDSELECT

VARSET LOCAL
FOR LCOUNT, 1, CHARANUM
	LOCAL:LCOUNT = 0

	;登録番号・名前・体力・その他ステータスをまとめて表示
	SELECTCASE ITEMNAME:BOUGHT
	CASE "脱毛剤"
		SIF COND("陰毛", LCOUNT) <= 2 && COND("腋毛", LCOUNT) <= 2
			CONTINUE
		CALL PRINT_NUM_NAME, "陰毛＆腋毛", LCOUNT
	CASE "生毛薬"
		SIF (COND("陰毛", LCOUNT) == 0 || COND("陰毛", LCOUNT) >= 7) && (COND("腋毛", LCOUNT) == 0 || COND("腋毛", LCOUNT) >= 7)
			CONTINUE
		CALL PRINT_NUM_NAME, "陰毛＆腋毛", LCOUNT
	CASE "避妊の護符"
		SIF TALENT:LCOUNT:妊娠 || TALENT:LCOUNT:処女 || COND("着床確認", LCOUNT)
			CONTINUE
		;妊娠できない身体
		IF COND("本来は妊娠不可能", LCOUNT)
			SIF TALENT:LCOUNT:妊娠可能 == 0
				CONTINUE
		ENDIF
		CALL PRINT_NUM_NAME, "避妊措置", LCOUNT
	CASEELSE
		CALL PRINT_NUM_NAME, "能力表示", LCOUNT
	ENDSELECT

	LOCAL:LCOUNT = 1
NEXT
PRINTL  [100]返回

$INPUT_LOOP
INPUT

IF RESULT == 100
	RETURN 0
ELSEIF RESULT < MASTER || RESULT >= CHARANUM
	GOTO INPUT_LOOP
ELSEIF LOCAL:RESULT == 0
	GOTO INPUT_LOOP
ENDIF

;選択キャラをCHOICEに保存
CHOICE = RESULT


;お会計はSELECTCASEの終了後なので、RESTARTさせる場合にはその前に代金を頂くこと
SELECTCASE ITEMNAME:BOUGHT
;陰毛を生やす
CASE "生毛薬"
	IF COND("陰毛", CHOICE) == 0 || COND("陰毛", CHOICE) >= 7
		RESULT = 1
	ELSEIF COND("腋毛", CHOICE) == 0 || COND("腋毛", CHOICE) >= 7
		RESULT = 0
	ELSE
		PRINTFORML 要长陰毛还是%TEXTS("腋")%毛？
		PRINTFORML [ 0] 陰毛
		PRINTFORML [ 1] %TEXTS("腋")%毛
		CALL INPUT_SELECT, 2
	ENDIF
	IF RESULT == 0
		PRINTFORMW ＜%CALLNAME:CHOICE%的阴部的毛生长了＞
		SELECTCASE COND("陰毛", CHOICE)
		CASE IS <= 5
			BASE:CHOICE:陰毛 = 600
		CASE 6
			BASE:CHOICE:陰毛 = 700
		ENDSELECT
	ELSE
		PRINTFORMW ＜%CALLNAME:CHOICE%的%TEXTS("腋")%毛生长了＞
		BASE:CHOICE:腋毛 = 700
	ENDIF
	SIF COND("種族：人形", CHOICE)
		PRINTFORMW 然而、因为%CALLNAME:CHOICE%是人偶所以并不能无法生长。
;陰毛を失くす
CASE "脱毛剤"
	IF COND("陰毛", CHOICE) <= 2
		RESULT = 1
	ELSEIF COND("腋毛", CHOICE) <= 2
		RESULT = 0
	ELSE
		PRINTFORML 要脱陰毛还是%TEXTS("腋")%毛？
		PRINTFORML [ 0] 陰毛
		PRINTFORML [ 1] %TEXTS("腋")%毛
		CALL INPUT_SELECT, 2
	ENDIF
	IF RESULT == 0
		PRINTFORMW ＜%CALLNAME:CHOICE%的阴部脱毛了＞
		BASE:CHOICE:陰毛 = 200
		;人形なら、パイパン化
		SIF COND("種族：人形", CHOICE)
			BASE:CHOICE:陰毛 = 100
	ELSE
		PRINTFORMW ＜%CALLNAME:CHOICE%の%TEXTS("腋")%毛脱毛了＞
		BASE:CHOICE:腋毛 = 200
		SIF COND("種族：人形", CHOICE)
			BASE:CHOICE:腋毛 = 100
	ENDIF
;避妊の護符
CASE "避妊の護符"
	;付けている場合には外す
	IF TALENT:CHOICE:避妊の護符
		PRINTFORMW ＜拽了一下%CALLNAME:CHOICE%的子宮口里垂下的绳子、避妊の護符被破壊了＞
		TALENT:CHOICE:避妊の護符 = 0
	ELSE
		PRINTFORML ＜%CALLNAME:CHOICE%的子宮内装备了避妊の護符＞
		PRINTFORMW 从子宮口里垂下了一条用来去除護符的柔软的绳子…
		;即座に避妊の効果が出る
		CALL SETFLAG, "避妊", CHOICE
		TALENT:CHOICE:避妊の護符 = 1
		MONEY -= ITEMPRICE:BOUGHT
	ENDIF

	SWAP TARGET, CHOICE
	CALL KOJO_EVENT, "避妊の護符"
	SWAP TARGET, CHOICE

	IF MONEY >= ITEMPRICE:BOUGHT
		RESTART
	ELSE
		RETURN 0
	ENDIF
ENDSELECT

;代金はここで支払う（一部例外あり）
MONEY -= ITEMPRICE:BOUGHT

