;このフォルダにあるメソッドはリリース版では呼び出しちゃいけんよ
@Demoslaviya20XX_MapDebug
	#DIM FULL_SIZE 
	#DIM HALF_SIZE
	#DIM LCOUNT
	#DIM X_COUNT
	#DIM Y_COUNT
	#DIM DEBUG_VALUE

	FULL_SIZE = 250
	HALF_SIZE = 125
	DEBUG_VALUE = 3
	
	$DEBUG_LOOP
	IF DEBUG_VALUE == 0
		;-0
			HTML_PRINT @"<img src='Parairie' height='{FULL_SIZE}' ypos='0'><img src='Parairie' height='{FULL_SIZE}' ypos='0'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'>"
			PRINTFORML 
			PRINTFORML 
		;-125
			;HTML_PRINT @"<img src='Wait' height='{FULL_SIZE}' ypos='-100'><img src='Wait' height='{FULL_SIZE}' ypos='-120'><img src='Wait' height='{FULL_SIZE}' ypos='-120'><img src='Wait' height='{FULL_SIZE}' ypos='-120'>"
			;HTML_PRINT @"<nobr><button value='1' title='1分男\nHP:10\n残移動力:4\n組織率:10\n-解説-\nとある国の独立戦争時の民兵を参考に生まれた自警団\n中身は只の銃を持ったお父さん達なので無理させてはいけない\n組織率が低くて居ないほうがマシなのは内緒だ' ><img src='Lv1INF' height='{FULL_SIZE}' ypos='-200'></button><img src='Lv2INF' height='{FULL_SIZE}' ypos='-220'><img src='Lv3INF' height='{FULL_SIZE}' ypos='-220'><img src='Lv1Mortor' height='{FULL_SIZE}' ypos='-220'></nobr>"
			HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='-125'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'>"
			PRINTFORML
			PRINTFORML
			;HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Wait' height='{FULL_SIZE}' ypos='-225'><img src='Wait' height='{FULL_SIZE}' ypos='-120'><img src='Wait' height='{FULL_SIZE}' ypos='-120'><img src='Wait' height='{FULL_SIZE}' ypos='-120'>"
			;HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Lv1Tank' height='{FULL_SIZE}' ypos='-325'><img src='Lv2Tank' height='{FULL_SIZE}' ypos='-220'><img src='Lv1Helicopter' height='{FULL_SIZE}' ypos='-220'><img src='Lv2Helicopter' height='{FULL_SIZE}' ypos='-220'>"
		;-250
			HTML_PRINT @"<img src='Parairie' height='{FULL_SIZE}' ypos='-250'><img src='Forest' height='{FULL_SIZE}' ypos='-250'><img src='Sea' height='{FULL_SIZE}' ypos='-20'><img src='Desert' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'>"
			PRINTFORML 
			PRINTFORML 
		;-375
			HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='-375'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'>"
			PRINTFORML 
			PRINTFORML 
			;HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Wait' height='{FULL_SIZE}' ypos='-175'><img src='Moved' height='{FULL_SIZE}' ypos='-120'><img src='Enemy' height='{FULL_SIZE}' ypos='-120'>"
			;HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Lv1INF' height='{FULL_SIZE}' ypos='-275'><img src='Lv1INF' height='{FULL_SIZE}' ypos='-220'><img src='Lv1INF' height='{FULL_SIZE}' ypos='-220'>"
		;-500
			HTML_PRINT @"<img src='Parairie' height='{FULL_SIZE}' ypos='-500'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'>"
			PRINTFORML 
			PRINTFORML 
		;-625
			HTML_PRINT @"<shape type='space' param='{HALF_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='-625'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'><img src='Parairie' height='{FULL_SIZE}' ypos='-20'>"
			PRINTFORML 
			PRINTFORML  
	ELSEIF DEBUG_VALUE == 1
		FOR LCOUNT,0,12
			IF LCOUNT % 2 == 0
				HTML_PRINT @"<nobr><shape type='space' param='{HALF_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><button value='1' title='1分男\nHP:10\n残移動力:4\n組織率:10\n-解説-\nとある国の独立戦争時の民兵を参考に生まれた自警団\n中身は只の銃を持ったお父さん達なので無理させてはいけない\n組織率が低くて居ないほうがマシなのは内緒だ' pos='125'><img src='Lv1INF' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'></button></nobr>"
				;PRINTFORML 
			ELSE
				HTML_PRINT @"<shape type='space' param='{FULL_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'>"
				;PRINTFORML 
			ENDIF 
		NEXT
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
	ELSEIF DEBUG_VALUE == 2
		FOR LCOUNT,0,101
			PRINTFORML {100-LCOUNT}行
		NEXT
	ELSEIF DEBUG_VALUE == 3
		;CALL Demoslaviya20XX_View_HTML_TEST
		CALL Demoslaviya20XX_GenerateHTML(0,0)
	ELSEIF DEBUG_VALUE == 4
		FOR LCOUNT,0,12
			IF LCOUNT % 2 == 0
				HTML_PRINT @"<nobr><shape type='space' param='{HALF_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><button value='1' pos='{HALF_SIZE+50}' title='Test'><img src='Moved' height='150' ypos='{LCOUNT*(75)+50,}'></button></nobr>";<shape type='space' param='25'>
				;PRINTFORML 
			ELSE
				HTML_PRINT @"<shape type='space' param='{FULL_SIZE}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'><img src='Parairie' height='{FULL_SIZE}' ypos='{LCOUNT*(75)}'>"
				;PRINTFORML 
			ENDIF 
		NEXT
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
		PRINTFORML 
	ENDIF 
			PRINTFORML ーーーー
			PRINTFORML [100] コマンド１
			PRINTFORML [200] コマンド２
			PRINTFORML [300] コマンド３
			PRINTFORML [400] コマンド４
			PRINTFORML [500] コマンド５
			PRINTFORML [600] コマンド６

		INPUT
		IF RESULT == 100
			FOR Y_COUNT, 0, 200
				FOR X_COUNT, 0, 200
					SIF Demoslaviya20XX_MAP:Y_COUNT:X_COUNT:0 != "無"
						PRINTFORML X = {X_COUNT} Y = {Y_COUNT}      %Demoslaviya20XX_MAP:Y_COUNT:X_COUNT:1%
				NEXT
			NEXT
			GOTO DEBUG_LOOP
		ELSEIF RESULT == 200
			FOR LCOUNT, 0, 10000
				SIF Demoslaviya20XX_Unit:LCOUNT:0 != "None"
					PRINTFORML %Demoslaviya20XX_Unit:LCOUNT:0%
				GOTO DEBUG_LOOP
			NEXT
		ELSE 
			GOTO DEBUG_LOOP
		ENDIF
		